[(#REM) http://www.addthis.com/services/list
    mailto classique <a class="addthis_button_mailto"></a>
]
            <!-- AddThis Button BEGIN -->
            <nav class="addthis_toolbox addthis_default_style pull-right ">
                <span class="f14 cGrey fUpp pull-left mr5">Partager</span>
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_google_plusone_share"></a>
                <a class="addthis_button_email"></a>
                <a class="addthis_button_print"></a>
                <a class="addthis_button_pinterest"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
            </nav>
            <!-- AddThis Button END -->