[(#SET{meta_nb_pagination,#ENV{meta_nb_pagination,5}})]
[(#SET{nb_pages,[(#ENV{meta_total_boucle}|div{#GET{meta_nb_pagination}}|floor|plus{1})]})]
[(#SET{page_active,[(#ENV{debut_listing}|div{#GET{meta_nb_pagination}}|floor|plus{1})]})]

[(#GET{page_active}|=={1}|oui)
<link rel="next" href="[(#URL_RUBRIQUE|parametre_url{debut_listing,[(#ENV{debut_listing}|plus{#GET{meta_nb_pagination}})]}|ancre_url{pagination_listing}|url_absolue)]" />
]
[(#GET{page_active}|<{#GET{nb_pages}}|oui|et{#GET{page_active}|>{1}|oui})
<link rel="prev" href="[(#URL_RUBRIQUE|parametre_url{debut_listing,[(#ENV{debut_listing}|moins{#GET{meta_nb_pagination}})]}|ancre_url{pagination_listing}|url_absolue)]" />
<link rel="next" href="[(#URL_RUBRIQUE|parametre_url{debut_listing,[(#ENV{debut_listing}|plus{#GET{meta_nb_pagination}})]}|ancre_url{pagination_listing}|url_absolue)]" />
]
[(#GET{page_active}|=={#GET{nb_pages}}|oui)
<link rel="prev" href="[(#URL_RUBRIQUE|parametre_url{debut_listing,[(#ENV{debut_listing}|moins{#GET{meta_nb_pagination}})]}|ancre_url{pagination_listing}|url_absolue)]" />
]