<BOUCLE_exclusions(RUBRIQUES){id_mot=1}{si #REM}>
    <BOUCLE_exclusionsArticles(ARTICLES){branche}{doublons}>

    </BOUCLE_exclusionsArticles>
</BOUCLE_exclusions>

<nav>
	<ol class="breadcrumb mb0 bgWhite">
		[(#REM)
		<!-- <li>Vous êtes ici&nbsp;:&nbsp;</li> -->
		]
		[(#ENV{sommaire}|=={oui}|oui)
		<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><span itemprop="title">Accueil</span></li>
		]
		[(#ENV{sommaire}|=={oui}|non)
		<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><a itemprop="url" href="#URL_SITE_SPIP">Accueil</a></span></li>
		]
		
		<BOUCLE_hierarchie(HIERARCHIE){id_rubrique}>
			<BOUCLE_exclure(RUBRIQUES){id_rubrique}{doublons}>
			 	<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><a itemprop="url" href="#URL_RUBRIQUE">#TITRE</a></span></li>
			</BOUCLE_exclure>
		</BOUCLE_hierarchie>
		<BOUCLE_actuelle(RUBRIQUES){id_rubrique}{tout}>
	 		[(#ENV{id_article}|non)<li class='active'><span itemprop="title">#TITRE</span></li>]
	 		[(#ENV{id_article}|oui)<li><span itemprop="title"><a itemprop="url" href="#URL_RUBRIQUE">#TITRE</a></span></li>]
		</BOUCLE_actuelle>
		<BOUCLE_artActuel(ARTICLES){id_article}>
			<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"[ (#ENV{gabarit}|non)class='active']><span itemprop="title">#TITRE</span></li>
		</BOUCLE_artActuel>
		<BOUCLE_motActuel(MOTS){id_mot}>
			<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class='active'><span itemprop="title">#TITRE</span></li>
		</BOUCLE_motActuel>
		[<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class='active'><span itemprop="title">(#ENV{gabarit})</span></li>]
	</ol><!-- .breadcrumb -->          
</nav>