<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem">Paramétrages des emails pour la reception du mail d'inscription aux publications</h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<div>
			[(#SAISIE{textarea, email_publications,
				label="Emails reçevant les inscriptions aux publications",
				explication="Un email par ligne"})]
		</div>

		<input type="hidden" name="_meta_casier" value="apsulis_config_generale" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>
