<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem">Liens vers les réseaux sociaux</h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<div>
			[(#SAISIE{input, lien_lkin,
				label="Lien vers la page LinkedIn",
				explication="Définir le lien vers la page LinkedIn"})]
		</div>
		<div>
			[(#SAISIE{input, lien_twitter,
				label="Lien vers la page twitter",
				explication="Définir le lien vers le compte Twitter"})]
		</div>

		<input type="hidden" name="_meta_casier" value="apsulis_config_generale" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>
