<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem">Informations sur la société</h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<h3>Partie gauche de la page de contact</h3>
		<h4>Premier bloc</h4>

		<div>
			[(#SAISIE{input, titre_bloc_1,
				label="Titre du bloc de gauche",
				explication="",
				defaut="Office locations"})]
		</div>
		<div>
			[(#SAISIE{input, raison_soc_1,
				label="Raison sociale",
				explication="",
				defaut="CARAX S.A"})]
		</div>
		<div>
			[(#SAISIE{input, rue_1,
				label="Rue",
				explication="",
				defaut="11 bis rue d'Aguesseau"})]
		</div>
		<div>
			[(#SAISIE{input, cp_ville_1,
				label="Code postal et ville",
				explication="",
				defaut="75008 PARIS"})]
		</div>
		<div>
			[(#SAISIE{input, tel_1,
				label="Téléphone",
				explication="",
				defaut="+33140060707"})]
		</div>
		<div>
			[(#SAISIE{input, fax_1,
				label="Fax",
				explication="",
				defaut="+33140069865"})]
		</div>
		<div>
			[(#SAISIE{input, lat_1,
				label="Latitude",
				explication="",
				defaut="48.870954"})]
		</div>
		<div>
			[(#SAISIE{input, long_1,
				label="Longitude",
				explication="",
				defaut="2.319242"})]
		</div>

		<h4>Second bloc</h4>

		<div>
			[(#SAISIE{input, raison_soc_2,
				label="Raison sociale",
				explication="",
				defaut="CARAX MONACO S.A.M"})]
		</div>
		<div>
			[(#SAISIE{input, rue_2,
				label="Rue",
				explication="",
				defaut="Le Labor - 30 bd. Princesse Charlotte"})]
		</div>
		<div>
			[(#SAISIE{input, cp_ville_2,
				label="Code postal et ville",
				explication="",
				defaut="98000 MONACO"})]
		</div>
		<div>
			[(#SAISIE{input, tel_2,
				label="Téléphone",
				explication="",
				defaut="+377 97 70 11 78"})]
		</div>
		<div>
			[(#SAISIE{input, fax_2,
				label="Fax",
				explication="",
				defaut="+377 97 70 11 80"})]
		</div>
		<div>
			[(#SAISIE{input, lat_2,
				label="Latitude",
				explication="",
				defaut="43.741809"})]
		</div>
		<div>
			[(#SAISIE{input, long_2,
				label="Longitude",
				explication="",
				defaut="7.427015"})]
		</div>

		<hr />

		<h3>Partie droite de la page de contact</h3>
		<div>
			[(#SAISIE{input, titre_partie_1,
				label="Titre du premier bloc",
				explication="",
				defaut="Desks"})]
		</div>
		<div>
			[(#SAISIE{textarea, contenu_partie_1,
				label="Adresses email",
				explication="De la forme titre;email (un couple titre;email par lignes)"})]
		</div>
		<div>
			[(#SAISIE{input, titre_partie_2,
				label="Titre du second bloc",
				explication="",
				defaut="Supports"})]
		</div>
		<div>
			[(#SAISIE{textarea, contenu_partie_2,
				label="Adresses email",
				explication="De la forme titre;email (un couple titre;email par lignes)"})]
		</div>

		<input type="hidden" name="_meta_casier" value="apsulis_config_generale" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>
