<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem">Paramétrage des destinataires pour la notification des soumissions de formulaires</h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<div>
			[(#SAISIE{input, emails_evenements,
				label="Emails pour l'envoi de la notification d'ajout d'événement",
				explication="Si vous souhaitez renseigner plus d'un email séparez les par des virgules"})]
		</div>
		<div>
			[(#SAISIE{input, emails_annuaire,
				label="Emails pour l'envoi de la notification d'ajout de site dans l'annuaire",
				explication="Si vous souhaitez renseigner plus d'un email séparez les par des virgules"})]
		</div>
		<div>
			[(#SAISIE{input, emails_etape,
				label="Emails pour l'envoi de la notification d'ajout d'étape",
				explication="Si vous souhaitez renseigner plus d'un email séparez les par des virgules"})]
		</div>
		<div>
			[(#SAISIE{input, emails_blog,
				label="Emails pour l'envoi de la notification d'ajout de Blog",
				explication="Si vous souhaitez renseigner plus d'un email séparez les par des virgules"})]
		</div>
		<input type="hidden" name="_meta_casier" value="apsulis_config_generale" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>