// Colors helper : a,b,c... From light to dark
// -> bk : black;
// -> gy : grey;
// -> wh : white;
// -> pu : purple;
// -> bl : blue;
// -> br : brown;
// -> or : orange;
// -> green : gn;

// Variable color

$bk-a     	: #000000;
$wh-a 		: #fff;

// body
body 		{ color: $bk-a; background-color: $wh-a ; }

// Color
.c-bk-a     { color: $bk-a; }
.c-wh-a 	{ color: $wh-a; }

// Background
.bg-bk-a    { background-color: $bk-a; }
.bg-wh-a 	{ background-color: $wh-a; }
