// Variable
$max-device-md                  : "(max-width:1200px)";
$max-device-sm                  : "(max-width:991px)";
$max-device-xs                  : "(max-width:767px)";
$min-device-md                  : "(min-width:1200px)";
$min-device-sm                  : "(min-width:991px)";
$min-device-xs                  : "(min-width:767px)";

// Soft reset  
ul,
ol                              { margin: 0; padding: 0;}
ul                              { list-style: none; }

// Boostrap :: Five columns
.col-xs-5ths                    { width: 20%; float: left; }

@media #{$min-device-xs} {
    .col-sm-5ths                { width: 20%; float: left; }
}

@media #{$min-device-sm} {
    .col-md-5ths                { width: 20%; float: left; }
}

@media #{$min-device-md} {
    .col-lg-5ths                { width: 20%; float: left; }
}

// Viewport fixing mobile device
@-webkit-viewport               { width: device-width; zoom: 1.0; }
@-moz-viewport                  { width: device-width; zoom: 1.0; }
@-ms-viewport                   { width: device-width; zoom: 1.0; }
@-o-viewport                    { width: device-width; zoom: 1.0; }
@viewport                       { width: device-width; zoom: 1.0; }

// Float
.fl-l                           { float: left;}
.fl-r                           { float: right;}

@media #{$max-device-sm} { 
    .fl-l-sm                    { float: left !important;}
    .fl-r-sm                    { float: right !important;}
    .fl-clear-sm                { float: none !important; clear: both !important;}
}

@media #{$max-device-xs} { 
    .fl-l-xs                    { float: left !important;}
    .fl-r-xs                    { float: right !important;}
    .fl-clear-xs                { float: none !important;  clear: both !important;}
}

// Display :: block 
.d-bl > *                       { display: block; width: 100%;}

@media #{$max-device-sm} { 
    .d-bl-sm > *                { display: block !important; width: 100% !important;}
}

@media #{$max-device-xs} { 
    .d-bl-xs > *                { display: block !important; width: 100% !important;}
}

// Display :: inline-block  
.d-inl > *                      { display: inline; width: 100%;}
@media #{$max-device-sm} { 
    .d-inl-sm > *               { display: inline !important; width: 100% !important;}
}
@media #{$max-device-xs} { 
    .d-inl-xs > *               { display: inline !important; width: 100% !important;}
}

// Display :: inline-block 
.d-inbl > *                     { display: inline-block;}
@media #{$max-device-sm} { 
    .d-inbl-sm > *              { display: inline-block !important;}
}
@media #{$max-device-xs} { 
    .d-inbl-xs > *              { display: inline-block !important;}
}

// Display :: table
.d-tab                          { display: table;}
.d-tab > *                      { display: table-cell;}

@media #{$max-device-sm} {
    .d-tab-sm                   { display: table !important;}
    .d-tab-sm > *               { display: table-cell !important;}
} 
@media #{$max-device-xs} {
    .d-tab-xs                   { display: table !important;}
    .d-tab-xs > *               { display: table-cell !important;}
} 

// Vertical Align */
.va-t > *                       { vertical-align: top;}
.va-m > *                       { vertical-align: middle;}
.va-b > *                       { vertical-align: bottom;}

@media #{$max-device-sm} {
    .va-t-sm > *                { vertical-align: top !important;}
    .va-m-sm > *                { vertical-align: middle !important;}
    .va-b-sm > *                { vertical-align: bottom !important;}
}
@media #{$max-device-xs} {
    .va-t-xs > *                { vertical-align: top !important;}
    .va-m-xs > *                { vertical-align: middle !important;}
    .va-b-xs > *                { vertical-align: bottom !important;}
}

// Width Full
.w-full                         { display: block; width: 100%;}
img.w-full                      { height: auto;}

@media #{$max-device-sm} {
  .w-full-sm                    { display: block !important; width: 100% !important;}
  img.w-full-sm                 { height: auto !important;}
}

@media #{$max-device-xs} {
  .w-full-xs                    { display: block !important; width: 100% !important;}
  img.w-full-sxs                { height: auto !important;}
}

/** TODO : MEDIA ALIGN + NAV JUSTIFIED + TEST DISPALY TABLE ALIGN (sprite) */


/* ----------------------------- */
/*  OOCSS :: DESKTOP (LG)        */
/* ----------------------------- */

// margin all 
.ma-0       { margin: 0px; }
.ma-5       { margin: 5px; }
.ma-10      { margin: 10px; }
.ma-15      { margin: 15px; }
.ma-20      { margin: 20px; }
.ma-25      { margin: 25px; }
.ma-30      { margin: 30px; }
.ma-35      { margin: 35px; }
.ma-40      { margin: 40px; }
.ma-45      { margin: 45px; }
.ma-50      { margin: 50px; }
.ma-55      { margin: 55px; }
.ma-60      { margin: 60px; }
.ma-65      { margin: 65px; }
.ma-70      { margin: 70px; }
.ma-75      { margin: 75px; }
.ma-80      { margin: 80px; }
.ma-85      { margin: 85px; }
.ma-90      { margin: 90px; }
.ma-95      { margin: 95px; }
.ma-100     { margin: 100px; }

// margin vertical
.mv-0       { margin-top: 0px; margin-bottom: 0px; }
.mv-5       { margin-top: 5px; margin-bottom: 5px; }
.mv-10      { margin-top: 10px; margin-bottom: 10px; }
.mv-15      { margin-top: 15px; margin-bottom: 15px; }
.mv-20      { margin-top: 20px; margin-bottom: 20px; }
.mv-25      { margin-top: 25px; margin-bottom: 25px; }
.mv-30      { margin-top: 30px; margin-bottom: 30px; }
.mv-35      { margin-top: 35px; margin-bottom: 35px; }
.mv-40      { margin-top: 40px; margin-bottom: 40px; }
.mv-45      { margin-top: 45px; margin-bottom: 45px; }
.mv-50      { margin-top: 50px; margin-bottom: 50px; }
.mv-55      { margin-top: 55px; margin-bottom: 55px; }
.mv-60      { margin-top: 60px; margin-bottom: 60px; }
.mv-65      { margin-top: 65px; margin-bottom: 65px; }
.mv-70      { margin-top: 70px; margin-bottom: 70px; }
.mv-75      { margin-top: 75px; margin-bottom: 75px; }
.mv-80      { margin-top: 80px; margin-bottom: 80px; }
.mv-85      { margin-top: 85px; margin-bottom: 85px; }
.mv-90      { margin-top: 90px; margin-bottom: 90px; }
.mv-95      { margin-top: 95px; margin-bottom: 95px; }
.mv-100     { margin-top: 100px; margin-bottom: 100px; }

// margin horizontal
.mh-0       { margin-left: 0px; margin-right: 0px; }
.mh-5       { margin-left: 5px; margin-right: 5px; }
.mh-10      { margin-left: 10px; margin-right: 10px; }
.mh-15      { margin-left: 15px; margin-right: 15px; }
.mh-20      { margin-left: 20px; margin-right: 20px; }
.mh-25      { margin-left: 25px; margin-right: 25px; }
.mh-30      { margin-left: 30px; margin-right: 30px; }
.mh-35      { margin-left: 35px; margin-right: 35px; }
.mh-40      { margin-left: 40px; margin-right: 40px; }
.mh-45      { margin-left: 45px; margin-right: 45px; }
.mh-50      { margin-left: 50px; margin-right: 50px; }
.mh-55      { margin-left: 55px; margin-right: 55px; }
.mh-60      { margin-left: 60px; margin-right: 60px; }
.mh-65      { margin-left: 65px; margin-right: 65px; }
.mh-70      { margin-left: 70px; margin-right: 70px; }
.mh-75      { margin-left: 75px; margin-right: 75px; }
.mh-80      { margin-left: 80px; margin-right: 80px; }
.mh-85      { margin-left: 85px; margin-right: 85px; }
.mh-90      { margin-left: 90px; margin-right: 90px; }
.mh-95      { margin-left: 95px; margin-right: 95px; }
.mh-100     { margin-left: 100px; margin-right: 100px; }

// margin top
.mt-0       { margin-top: 0px; }
.mt-5       { margin-top: 5px; }
.mt-10      { margin-top: 10px; }
.mt-15      { margin-top: 15px; }
.mt-20      { margin-top: 20px; }
.mt-25      { margin-top: 25px; }
.mt-30      { margin-top: 30px; }
.mt-35      { margin-top: 35px; }
.mt-40      { margin-top: 40px; }
.mt-45      { margin-top: 45px; }
.mt-50      { margin-top: 50px; }
.mt-55      { margin-top: 55px; }
.mt-60      { margin-top: 60px; }
.mt-65      { margin-top: 65px; }
.mt-70      { margin-top: 70px; }
.mt-75      { margin-top: 75px; }
.mt-80      { margin-top: 80px; }
.mt-85      { margin-top: 85px; }
.mt-90      { margin-top: 90px; }
.mt-95      { margin-top: 95px; }
.mt-100     { margin-top: 100px; }

// margin right
.mr-0       { margin-right: 0px; }
.mr-5       { margin-right: 5px; }
.mr-10      { margin-right: 10px; }
.mr-15      { margin-right: 15px; }
.mr-20      { margin-right: 20px; }
.mr-25      { margin-right: 25px; }
.mr-30      { margin-right: 30px; }
.mr-35      { margin-right: 35px; }
.mr-40      { margin-right: 40px; }
.mr-45      { margin-right: 45px; }
.mr-50      { margin-right: 50px; }
.mr-55      { margin-right: 55px; }
.mr-60      { margin-right: 60px; }
.mr-65      { margin-right: 65px; }
.mr-70      { margin-right: 70px; }
.mr-75      { margin-right: 75px; }
.mr-80      { margin-right: 80px; }
.mr-85      { margin-right: 85px; }
.mr-90      { margin-right: 90px; }
.mr-95      { margin-right: 95px; }
.mr-100     { margin-right: 100px; }

// margin bottom 
.mb-0       { margin-bottom: 0px; }
.mb-5       { margin-bottom: 5px; }
.mb-10      { margin-bottom: 10px; }
.mb-15      { margin-bottom: 15px; }
.mb-20      { margin-bottom: 20px; }
.mb-25      { margin-bottom: 25px; }
.mb-30      { margin-bottom: 30px; }
.mb-35      { margin-bottom: 35px; }
.mb-40      { margin-bottom: 40px; }
.mb-45      { margin-bottom: 45px; }
.mb-50      { margin-bottom: 50px; }
.mb-55      { margin-bottom: 55px; }
.mb-60      { margin-bottom: 60px; }
.mb-65      { margin-bottom: 65px; }
.mb-70      { margin-bottom: 70px; }
.mb-75      { margin-bottom: 75px; }
.mb-80      { margin-bottom: 80px; }
.mb-85      { margin-bottom: 85px; }
.mb-90      { margin-bottom: 90px; }
.mb-95      { margin-bottom: 95px; }
.mb-100     { margin-bottom: 100px; }

// margin left
.ml-0       { margin-left: 0px; }
.ml-5       { margin-left: 5px; }
.ml-10      { margin-left: 10px; }
.ml-15      { margin-left: 15px; }
.ml-20      { margin-left: 20px; }
.ml-25      { margin-left: 25px; }
.ml-30      { margin-left: 30px; }
.ml-35      { margin-left: 35px; }
.ml-40      { margin-left: 40px; }
.ml-45      { margin-left: 45px; }
.ml-50      { margin-left: 50px; }
.ml-55      { margin-left: 55px; }
.ml-60      { margin-left: 60px; }
.ml-65      { margin-left: 65px; }
.ml-70      { margin-left: 70px; }
.ml-75      { margin-left: 75px; }
.ml-80      { margin-left: 80px; }
.ml-85      { margin-left: 85px; }
.ml-90      { margin-left: 90px; }
.ml-95      { margin-left: 95px; }
.ml-100     { margin-left: 100px; }

// padding all 
.pa-0       { padding: 0px; }
.pa-5       { padding: 5px; }
.pa-10      { padding: 10px; }
.pa-15      { padding: 15px; }
.pa-20      { padding: 20px; }
.pa-25      { padding: 25px; }
.pa-30      { padding: 30px; }
.pa-35      { padding: 35px; }
.pa-40      { padding: 40px; }
.pa-45      { padding: 45px; }
.pa-50      { padding: 50px; }
.pa-55      { padding: 55px; }
.pa-60      { padding: 60px; }
.pa-65      { padding: 65px; }
.pa-70      { padding: 70px; }
.pa-75      { padding: 75px; }
.pa-80      { padding: 80px; }
.pa-85      { padding: 85px; }
.pa-90      { padding: 90px; }
.pa-95      { padding: 95px; }
.pa-100     { padding: 100px; }

// padding vertical 
.pv-0       { padding-top: 0px; padding-bottom: 0px; }
.pv-5       { padding-top: 5px; padding-bottom: 5px; }
.pv-10      { padding-top: 10px; padding-bottom: 10px; }
.pv-15      { padding-top: 15px; padding-bottom: 15px; }
.pv-20      { padding-top: 20px; padding-bottom: 20px; }
.pv-25      { padding-top: 25px; padding-bottom: 25px; }
.pv-30      { padding-top: 30px; padding-bottom: 30px; }
.pv-35      { padding-top: 35px; padding-bottom: 35px; }
.pv-40      { padding-top: 40px; padding-bottom: 40px; }
.pv-45      { padding-top: 45px; padding-bottom: 45px; }
.pv-50      { padding-top: 50px; padding-bottom: 50px; }
.pv-55      { padding-top: 55px; padding-bottom: 55px; }
.pv-60      { padding-top: 60px; padding-bottom: 60px; }
.pv-65      { padding-top: 65px; padding-bottom: 65px; }
.pv-70      { padding-top: 70px; padding-bottom: 70px; }
.pv-75      { padding-top: 75px; padding-bottom: 75px; }
.pv-80      { padding-top: 80px; padding-bottom: 80px; }
.pv-85      { padding-top: 85px; padding-bottom: 85px; }
.pv-90      { padding-top: 90px; padding-bottom: 90px; }
.pv-95      { padding-top: 95px; padding-bottom: 95px; }
.pv-100     { padding-top: 100px; padding-bottom: 100px; }

// padding horizontal 
.ph-0       { padding-left: 0px; padding-right: 0px; }
.ph-5       { padding-left: 5px; padding-right: 5px; }
.ph-10      { padding-left: 10px; padding-right: 10px; }
.ph-15      { padding-left: 15px; padding-right: 15px; }
.ph-20      { padding-left: 20px; padding-right: 20px; }
.ph-25      { padding-left: 25px; padding-right: 25px; }
.ph-30      { padding-left: 30px; padding-right: 30px; }
.ph-35      { padding-left: 35px; padding-right: 35px; }
.ph-40      { padding-left: 40px; padding-right: 40px; }
.ph-45      { padding-left: 45px; padding-right: 45px; }
.ph-50      { padding-left: 50px; padding-right: 50px; }
.ph-55      { padding-left: 55px; padding-right: 55px; }
.ph-60      { padding-left: 60px; padding-right: 60px; }
.ph-65      { padding-left: 65px; padding-right: 65px; }
.ph-70      { padding-left: 70px; padding-right: 70px; }
.ph-75      { padding-left: 75px; padding-right: 75px; }
.ph-80      { padding-left: 80px; padding-right: 80px; }
.ph-85      { padding-left: 85px; padding-right: 85px; }
.ph-90      { padding-left: 90px; padding-right: 90px; }
.ph-95      { padding-left: 95px; padding-right: 95px; }
.ph-100     { padding-left: 100px; padding-right: 100px; }

// padding top
.pt-0       { padding-top: 0px; }
.pt-5       { padding-top: 5px; }
.pt-10      { padding-top: 10px; }
.pt-15      { padding-top: 15px; }
.pt-20      { padding-top: 20px; }
.pt-25      { padding-top: 25px; }
.pt-30      { padding-top: 30px; }
.pt-35      { padding-top: 35px; }
.pt-40      { padding-top: 40px; }
.pt-45      { padding-top: 45px; }
.pt-50      { padding-top: 50px; }
.pt-55      { padding-top: 55px; }
.pt-60      { padding-top: 60px; }
.pt-65      { padding-top: 65px; }
.pt-70      { padding-top: 70px; }
.pt-75      { padding-top: 75px; }
.pt-80      { padding-top: 80px; }
.pt-85      { padding-top: 85px; }
.pt-90      { padding-top: 90px; }
.pt-95      { padding-top: 95px; }
.pt-100     { padding-top: 100px; }

// padding right 
.pr-0       { padding-right: 0px; }
.pr-5       { padding-right: 5px; }
.pr-10      { padding-right: 10px; }
.pr-15      { padding-right: 15px; }
.pr-20      { padding-right: 20px; }
.pr-25      { padding-right: 25px; }
.pr-30      { padding-right: 30px; }
.pr-35      { padding-right: 35px; }
.pr-40      { padding-right: 40px; }
.pr-45      { padding-right: 45px; }
.pr-50      { padding-right: 50px; }
.pr-55      { padding-right: 55px; }
.pr-60      { padding-right: 60px; }
.pr-65      { padding-right: 65px; }
.pr-70      { padding-right: 70px; }
.pr-75      { padding-right: 75px; }
.pr-80      { padding-right: 80px; }
.pr-85      { padding-right: 85px; }
.pr-90      { padding-right: 90px; }
.pr-95      { padding-right: 95px; }
.pr-100     { padding-right: 100px; }

// padding bottom
.pb-0       { padding-bottom: 0px; }
.pb-5       { padding-bottom: 5px; }
.pb-10      { padding-bottom: 10px; }
.pb-15      { padding-bottom: 15px; }
.pb-20      { padding-bottom: 20px; }
.pb-25      { padding-bottom: 25px; }
.pb-30      { padding-bottom: 30px; }
.pb-35      { padding-bottom: 35px; }
.pb-40      { padding-bottom: 40px; }
.pb-45      { padding-bottom: 45px; }
.pb-50      { padding-bottom: 50px; }
.pb-55      { padding-bottom: 55px; }
.pb-60      { padding-bottom: 60px; }
.pb-65      { padding-bottom: 65px; }
.pb-70      { padding-bottom: 70px; }
.pb-75      { padding-bottom: 75px; }
.pb-80      { padding-bottom: 80px; }
.pb-85      { padding-bottom: 85px; }
.pb-90      { padding-bottom: 90px; }
.pb-95      { padding-bottom: 95px; }
.pb-100     { padding-bottom: 100px; }

// padding left
.pl-0       { padding-left: 0px; }
.pl-5       { padding-left: 5px; }
.pl-10      { padding-left: 10px; }
.pl-15      { padding-left: 15px; }
.pl-20      { padding-left: 20px; }
.pl-25      { padding-left: 25px; }
.pl-30      { padding-left: 30px; }
.pl-35      { padding-left: 35px; }
.pl-40      { padding-left: 40px; }
.pl-45      { padding-left: 45px; }
.pl-50      { padding-left: 50px; }
.pl-55      { padding-left: 55px; }
.pl-60      { padding-left: 60px; }
.pl-65      { padding-left: 65px; }
.pl-70      { padding-left: 70px; }
.pl-75      { padding-left: 75px; }
.pl-80      { padding-left: 80px; }
.pl-85      { padding-left: 85px; }
.pl-90      { padding-left: 90px; }
.pl-95      { padding-left: 95px; }
.pl-100     { padding-left: 100px; }

@media #{$max-device-sm} {

    // margin all 
    .ma-0-sm    { margin: 0px !important; }
    .ma-5-sm    { margin: 5px !important; }
    .ma-10-sm   { margin: 10px !important; }
    .ma-15-sm   { margin: 15px !important; }
    .ma-20-sm   { margin: 20px !important; }
    .ma-25-sm   { margin: 25px !important; }
    .ma-30-sm   { margin: 30px !important; }
    .ma-35-sm   { margin: 35px !important; }
    .ma-40-sm   { margin: 40px !important; }
    .ma-45-sm   { margin: 45px !important; }
    .ma-50-sm   { margin: 50px !important; }
    .ma-55-sm   { margin: 55px !important; }
    .ma-60-sm   { margin: 60px !important; }
    .ma-65-sm   { margin: 65px !important; }
    .ma-70-sm   { margin: 70px !important; }
    .ma-75-sm   { margin: 75px !important; }
    .ma-80-sm   { margin: 80px !important; }
    .ma-85-sm   { margin: 85px !important; }
    .ma-90-sm   { margin: 90px !important; }
    .ma-95-sm   { margin: 95px !important; }
    .ma-100-sm  { margin: 100px !important; }

    // margin vertical
    .mv-0-sm    { margin-top: 0px !important; margin-bottom: 0px !important; }
    .mv-5-sm    { margin-top: 5px !important; margin-bottom: 5px !important; }
    .mv-10-sm   { margin-top: 10px !important; margin-bottom: 10px !important; }
    .mv-15-sm   { margin-top: 15px !important; margin-bottom: 15px !important; }
    .mv-20-sm   { margin-top: 20px !important; margin-bottom: 20px !important; }
    .mv-25-sm   { margin-top: 25px !important; margin-bottom: 25px !important; }
    .mv-30-sm   { margin-top: 30px !important; margin-bottom: 30px !important; }
    .mv-35-sm   { margin-top: 35px !important; margin-bottom: 35px !important; }
    .mv-40-sm   { margin-top: 40px !important; margin-bottom: 40px !important; }
    .mv-45-sm   { margin-top: 45px !important; margin-bottom: 45px !important; }
    .mv-50-sm   { margin-top: 50px !important; margin-bottom: 50px !important; }
    .mv-55-sm   { margin-top: 55px !important; margin-bottom: 55px !important; }
    .mv-60-sm   { margin-top: 60px !important; margin-bottom: 60px !important; }
    .mv-65-sm   { margin-top: 65px !important; margin-bottom: 65px !important; }
    .mv-70-sm   { margin-top: 70px !important; margin-bottom: 70px !important; }
    .mv-75-sm   { margin-top: 75px !important; margin-bottom: 75px !important; }
    .mv-80-sm   { margin-top: 80px !important; margin-bottom: 80px !important; }
    .mv-85-sm   { margin-top: 85px !important; margin-bottom: 85px !important; }
    .mv-90-sm   { margin-top: 90px !important; margin-bottom: 90px !important; }
    .mv-95-sm   { margin-top: 95px !important; margin-bottom: 95px !important; }
    .mv-100-sm  { margin-top: 100px !important; margin-bottom: 100px !important; }

    // margin horizontal
    .mh-0-sm    { margin-left: 0px !important; margin-right: 0px !important; }
    .mh-5-sm    { margin-left: 5px !important; margin-right: 5px !important; }
    .mh-10-sm   { margin-left: 10px !important; margin-right: 10px !important; }
    .mh-15-sm   { margin-left: 15px !important; margin-right: 15px !important; }
    .mh-20-sm   { margin-left: 20px !important; margin-right: 20px !important; }
    .mh-25-sm   { margin-left: 25px !important; margin-right: 25px !important; }
    .mh-30-sm   { margin-left: 30px !important; margin-right: 30px !important; }
    .mh-35-sm   { margin-left: 35px !important; margin-right: 35px !important; }
    .mh-40-sm   { margin-left: 40px !important; margin-right: 40px !important; }
    .mh-45-sm   { margin-left: 45px !important; margin-right: 45px !important; }
    .mh-50-sm   { margin-left: 50px !important; margin-right: 50px !important; }
    .mh-55-sm   { margin-left: 55px !important; margin-right: 55px !important; }
    .mh-60-sm   { margin-left: 60px !important; margin-right: 60px !important; }
    .mh-65-sm   { margin-left: 65px !important; margin-right: 65px !important; }
    .mh-70-sm   { margin-left: 70px !important; margin-right: 70px !important; }
    .mh-75-sm   { margin-left: 75px !important; margin-right: 75px !important; }
    .mh-80-sm   { margin-left: 80px !important; margin-right: 80px !important; }
    .mh-85-sm   { margin-left: 85px !important; margin-right: 85px !important; }
    .mh-90-sm   { margin-left: 90px !important; margin-right: 90px !important; }
    .mh-95-sm   { margin-left: 95px !important; margin-right: 95px !important; }
    .mh-100-sm  { margin-left: 100px !important; margin-right: 100px !important; }

    // margin top
    .mt-0-sm    { margin-top: 0px !important; }
    .mt-5-sm    { margin-top: 5px !important; }
    .mt-10-sm   { margin-top: 10px !important; }
    .mt-15-sm   { margin-top: 15px !important; }
    .mt-20-sm   { margin-top: 20px !important; }
    .mt-25-sm   { margin-top: 25px !important; }
    .mt-30-sm   { margin-top: 30px !important; }
    .mt-35-sm   { margin-top: 35px !important; }
    .mt-40-sm   { margin-top: 40px !important; }
    .mt-45-sm   { margin-top: 45px !important; }
    .mt-50-sm   { margin-top: 50px !important; }
    .mt-55-sm   { margin-top: 55px !important; }
    .mt-60-sm   { margin-top: 60px !important; }
    .mt-65-sm   { margin-top: 65px !important; }
    .mt-70-sm   { margin-top: 70px !important; }
    .mt-75-sm   { margin-top: 75px !important; }
    .mt-80-sm   { margin-top: 80px !important; }
    .mt-85-sm   { margin-top: 85px !important; }
    .mt-90-sm   { margin-top: 90px !important; }
    .mt-95-sm   { margin-top: 95px !important; }
    .mt-100-sm  { margin-top: 100px !important; }

    // margin right
    .mr-0-sm    { margin-right: 0px !important; }
    .mr-5-sm    { margin-right: 5px !important; }
    .mr-10-sm   { margin-right: 10px !important; }
    .mr-15-sm   { margin-right: 15px !important; }
    .mr-20-sm   { margin-right: 20px !important; }
    .mr-25-sm   { margin-right: 25px !important; }
    .mr-30-sm   { margin-right: 30px !important; }
    .mr-35-sm   { margin-right: 35px !important; }
    .mr-40-sm   { margin-right: 40px !important; }
    .mr-45-sm   { margin-right: 45px !important; }
    .mr-50-sm   { margin-right: 50px !important; }
    .mr-55-sm   { margin-right: 55px !important; }
    .mr-60-sm   { margin-right: 60px !important; }
    .mr-65-sm   { margin-right: 65px !important; }
    .mr-70-sm   { margin-right: 70px !important; }
    .mr-75-sm   { margin-right: 75px !important; }
    .mr-80-sm   { margin-right: 80px !important; }
    .mr-85-sm   { margin-right: 85px !important; }
    .mr-90-sm   { margin-right: 90px !important; }
    .mr-95-sm   { margin-right: 95px !important; }
    .mr-100-sm  { margin-right: 100px !important; }

    // margin bottom 
    .mb-0-sm    { margin-bottom: 0px !important; }
    .mb-5-sm    { margin-bottom: 5px !important; }
    .mb-10-sm   { margin-bottom: 10px !important; }
    .mb-15-sm   { margin-bottom: 15px !important; }
    .mb-20-sm   { margin-bottom: 20px !important; }
    .mb-25-sm   { margin-bottom: 25px !important; }
    .mb-30-sm   { margin-bottom: 30px !important; }
    .mb-35-sm   { margin-bottom: 35px !important; }
    .mb-40-sm   { margin-bottom: 40px !important; }
    .mb-45-sm   { margin-bottom: 45px !important; }
    .mb-50-sm   { margin-bottom: 50px !important; }
    .mb-55-sm   { margin-bottom: 55px !important; }
    .mb-60-sm   { margin-bottom: 60px !important; }
    .mb-65-sm   { margin-bottom: 65px !important; }
    .mb-70-sm   { margin-bottom: 70px !important; }
    .mb-75-sm   { margin-bottom: 75px !important; }
    .mb-80-sm   { margin-bottom: 80px !important; }
    .mb-85-sm   { margin-bottom: 85px !important; }
    .mb-90-sm   { margin-bottom: 90px !important; }
    .mb-95-sm   { margin-bottom: 95px !important; }
    .mb-100-sm  { margin-bottom: 100px !important; }

    // margin left
    .ml-0-sm    { margin-left: 0px !important; }
    .ml-5-sm    { margin-left: 5px !important; }
    .ml-10-sm   { margin-left: 10px !important; }
    .ml-15-sm   { margin-left: 15px !important; }
    .ml-20-sm   { margin-left: 20px !important; }
    .ml-25-sm   { margin-left: 25px !important; }
    .ml-30-sm   { margin-left: 30px !important; }
    .ml-35-sm   { margin-left: 35px !important; }
    .ml-40-sm   { margin-left: 40px !important; }
    .ml-45-sm   { margin-left: 45px !important; }
    .ml-50-sm   { margin-left: 50px !important; }
    .ml-55-sm   { margin-left: 55px !important; }
    .ml-60-sm   { margin-left: 60px !important; }
    .ml-65-sm   { margin-left: 65px !important; }
    .ml-70-sm   { margin-left: 70px !important; }
    .ml-75-sm   { margin-left: 75px !important; }
    .ml-80-sm   { margin-left: 80px !important; }
    .ml-85-sm   { margin-left: 85px !important; }
    .ml-90-sm   { margin-left: 90px !important; }
    .ml-95-sm   { margin-left: 95px !important; }
    .ml-100-sm  { margin-left: 100px !important; }

    // padding all 
    .pa-0-sm    { padding: 0px !important; }
    .pa-5-sm    { padding: 5px !important; }
    .pa-10-sm   { padding: 10px !important; }
    .pa-15-sm   { padding: 15px !important; }
    .pa-20-sm   { padding: 20px !important; }
    .pa-25-sm   { padding: 25px !important; }
    .pa-30-sm   { padding: 30px !important; }
    .pa-35-sm   { padding: 35px !important; }
    .pa-40-sm   { padding: 40px !important; }
    .pa-45-sm   { padding: 45px !important; }
    .pa-50-sm   { padding: 50px !important; }
    .pa-55-sm   { padding: 55px !important; }
    .pa-60-sm   { padding: 60px !important; }
    .pa-65-sm   { padding: 65px !important; }
    .pa-70-sm   { padding: 70px !important; }
    .pa-75-sm   { padding: 75px !important; }
    .pa-80-sm   { padding: 80px !important; }
    .pa-85-sm   { padding: 85px !important; }
    .pa-90-sm   { padding: 90px !important; }
    .pa-95-sm   { padding: 95px !important; }
    .pa-100-sm  { padding: 100px !important; }

    // padding vertical 
    .pv-0-sm    { padding-top: 0px !important; padding-bottom: 0px !important; }
    .pv-5-sm    { padding-top: 5px !important; padding-bottom: 5px !important; }
    .pv-10-sm   { padding-top: 10px !important; padding-bottom: 10px !important; }
    .pv-15-sm   { padding-top: 15px !important; padding-bottom: 15px !important; }
    .pv-20-sm   { padding-top: 20px !important; padding-bottom: 20px !important; }
    .pv-25-sm   { padding-top: 25px !important; padding-bottom: 25px !important; }
    .pv-30-sm   { padding-top: 30px !important; padding-bottom: 30px !important; }
    .pv-35-sm   { padding-top: 35px !important; padding-bottom: 35px !important; }
    .pv-40-sm   { padding-top: 40px !important; padding-bottom: 40px !important; }
    .pv-45-sm   { padding-top: 45px !important; padding-bottom: 45px !important; }
    .pv-50-sm   { padding-top: 50px !important; padding-bottom: 50px !important; }
    .pv-55-sm   { padding-top: 55px !important; padding-bottom: 55px !important; }
    .pv-60-sm   { padding-top: 60px !important; padding-bottom: 60px !important; }
    .pv-65-sm   { padding-top: 65px !important; padding-bottom: 65px !important; }
    .pv-70-sm   { padding-top: 70px !important; padding-bottom: 70px !important; }
    .pv-75-sm   { padding-top: 75px !important; padding-bottom: 75px !important; }
    .pv-80-sm   { padding-top: 80px !important; padding-bottom: 80px !important; }
    .pv-85-sm   { padding-top: 85px !important; padding-bottom: 85px !important; }
    .pv-90-sm   { padding-top: 90px !important; padding-bottom: 90px !important; }
    .pv-95-sm   { padding-top: 95px !important; padding-bottom: 95px !important; }
    .pv-100-sm  { padding-top: 100px !important; padding-bottom: 100px !important; }

    // padding horizontal 
    .ph-0-sm    { padding-left: 0px !important; padding-right: 0px !important; }
    .ph-5-sm    { padding-left: 5px !important; padding-right: 5px !important; }
    .ph-10-sm   { padding-left: 10px !important; padding-right: 10px !important; }
    .ph-15-sm   { padding-left: 15px !important; padding-right: 15px !important; }
    .ph-20-sm   { padding-left: 20px !important; padding-right: 20px !important; }
    .ph-25-sm   { padding-left: 25px !important; padding-right: 25px !important; }
    .ph-30-sm   { padding-left: 30px !important; padding-right: 30px !important; }
    .ph-35-sm   { padding-left: 35px !important; padding-right: 35px !important; }
    .ph-40-sm   { padding-left: 40px !important; padding-right: 40px !important; }
    .ph-45-sm   { padding-left: 45px !important; padding-right: 45px !important; }
    .ph-50-sm   { padding-left: 50px !important; padding-right: 50px !important; }
    .ph-55-sm   { padding-left: 55px !important; padding-right: 55px !important; }
    .ph-60-sm   { padding-left: 60px !important; padding-right: 60px !important; }
    .ph-65-sm   { padding-left: 65px !important; padding-right: 65px !important; }
    .ph-70-sm   { padding-left: 70px !important; padding-right: 70px !important; }
    .ph-75-sm   { padding-left: 75px !important; padding-right: 75px !important; }
    .ph-80-sm   { padding-left: 80px !important; padding-right: 80px !important; }
    .ph-85-sm   { padding-left: 85px !important; padding-right: 85px !important; }
    .ph-90-sm   { padding-left: 90px !important; padding-right: 90px !important; }
    .ph-95-sm   { padding-left: 95px !important; padding-right: 95px !important; }
    .ph-100-sm  { padding-left: 100px !important; padding-right: 100px !important; }

    // padding top
    .pt-0-sm    { padding-top: 0px !important; }
    .pt-5-sm    { padding-top: 5px !important; }
    .pt-10-sm   { padding-top: 10px !important; }
    .pt-15-sm   { padding-top: 15px !important; }
    .pt-20-sm   { padding-top: 20px !important; }
    .pt-25-sm   { padding-top: 25px !important; }
    .pt-30-sm   { padding-top: 30px !important; }
    .pt-35-sm   { padding-top: 35px !important; }
    .pt-40-sm   { padding-top: 40px !important; }
    .pt-45-sm   { padding-top: 45px !important; }
    .pt-50-sm   { padding-top: 50px !important; }
    .pt-55-sm   { padding-top: 55px !important; }
    .pt-60-sm   { padding-top: 60px !important; }
    .pt-65-sm   { padding-top: 65px !important; }
    .pt-70-sm   { padding-top: 70px !important; }
    .pt-75-sm   { padding-top: 75px !important; }
    .pt-80-sm   { padding-top: 80px !important; }
    .pt-85-sm   { padding-top: 85px !important; }
    .pt-90-sm   { padding-top: 90px !important; }
    .pt-95-sm   { padding-top: 95px !important; }
    .pt-100-sm  { padding-top: 100px !important; }

    // padding right 
    .pr-0-sm    { padding-right: 0px !important; }
    .pr-5-sm    { padding-right: 5px !important; }
    .pr-10-sm   { padding-right: 10px !important; }
    .pr-15-sm   { padding-right: 15px !important; }
    .pr-20-sm   { padding-right: 20px !important; }
    .pr-25-sm   { padding-right: 25px !important; }
    .pr-30-sm   { padding-right: 30px !important; }
    .pr-35-sm   { padding-right: 35px !important; }
    .pr-40-sm   { padding-right: 40px !important; }
    .pr-45-sm   { padding-right: 45px !important; }
    .pr-50-sm   { padding-right: 50px !important; }
    .pr-55-sm   { padding-right: 55px !important; }
    .pr-60-sm   { padding-right: 60px !important; }
    .pr-65-sm   { padding-right: 65px !important; }
    .pr-70-sm   { padding-right: 70px !important; }
    .pr-75-sm   { padding-right: 75px !important; }
    .pr-80-sm   { padding-right: 80px !important; }
    .pr-85-sm   { padding-right: 85px !important; }
    .pr-90-sm   { padding-right: 90px !important; }
    .pr-95-sm   { padding-right: 95px !important; }
    .pr-100-sm  { padding-right: 100px !important; }

    // padding bottom
    .pb-0-sm    { padding-bottom: 0px !important; }
    .pb-5-sm    { padding-bottom: 5px !important; }
    .pb-10-sm   { padding-bottom: 10px !important; }
    .pb-15-sm   { padding-bottom: 15px !important; }
    .pb-20-sm   { padding-bottom: 20px !important; }
    .pb-25-sm   { padding-bottom: 25px !important; }
    .pb-30-sm   { padding-bottom: 30px !important; }
    .pb-35-sm   { padding-bottom: 35px !important; }
    .pb-40-sm   { padding-bottom: 40px !important; }
    .pb-45-sm   { padding-bottom: 45px !important; }
    .pb-50-sm   { padding-bottom: 50px !important; }
    .pb-55-sm   { padding-bottom: 55px !important; }
    .pb-60-sm   { padding-bottom: 60px !important; }
    .pb-65-sm   { padding-bottom: 65px !important; }
    .pb-70-sm   { padding-bottom: 70px !important; }
    .pb-75-sm   { padding-bottom: 75px !important; }
    .pb-80-sm   { padding-bottom: 80px !important; }
    .pb-85-sm   { padding-bottom: 85px !important; }
    .pb-90-sm   { padding-bottom: 90px !important; }
    .pb-95-sm   { padding-bottom: 95px !important; }
    .pb-100-sm  { padding-bottom: 100px !important; }

    // padding left
    .pl-0-sm    { padding-left: 0px !important; }
    .pl-5-sm    { padding-left: 5px !important; }
    .pl-10-sm   { padding-left: 10px !important; }
    .pl-15-sm   { padding-left: 15px !important; }
    .pl-20-sm   { padding-left: 20px !important; }
    .pl-25-sm   { padding-left: 25px !important; }
    .pl-30-sm   { padding-left: 30px !important; }
    .pl-35-sm   { padding-left: 35px !important; }
    .pl-40-sm   { padding-left: 40px !important; }
    .pl-45-sm   { padding-left: 45px !important; }
    .pl-50-sm   { padding-left: 50px !important; }
    .pl-55-sm   { padding-left: 55px !important; }
    .pl-60-sm   { padding-left: 60px !important; }
    .pl-65-sm   { padding-left: 65px !important; }
    .pl-70-sm   { padding-left: 70px !important; }
    .pl-75-sm   { padding-left: 75px !important; }
    .pl-80-sm   { padding-left: 80px !important; }
    .pl-85-sm   { padding-left: 85px !important; }
    .pl-90-sm   { padding-left: 90px !important; }
    .pl-95-sm   { padding-left: 95px !important; }
    .pl-100-sm  { padding-left: 100px !important; }

}

@media #{$max-device-xs} {

    // margin all 
    .ma-0-xs    { margin: 0px !important; }
    .ma-5-xs    { margin: 5px !important; }
    .ma-10-xs   { margin: 10px !important; }
    .ma-15-xs   { margin: 15px !important; }
    .ma-20-xs   { margin: 20px !important; }
    .ma-25-xs   { margin: 25px !important; }
    .ma-30-xs   { margin: 30px !important; }
    .ma-35-xs   { margin: 35px !important; }
    .ma-40-xs   { margin: 40px !important; }
    .ma-45-xs   { margin: 45px !important; }
    .ma-50-xs   { margin: 50px !important; }
    .ma-55-xs   { margin: 55px !important; }
    .ma-60-xs   { margin: 60px !important; }
    .ma-65-xs   { margin: 65px !important; }
    .ma-70-xs   { margin: 70px !important; }
    .ma-75-xs   { margin: 75px !important; }
    .ma-80-xs   { margin: 80px !important; }
    .ma-85-xs   { margin: 85px !important; }
    .ma-90-xs   { margin: 90px !important; }
    .ma-95-xs   { margin: 95px !important; }
    .ma-100-xs  { margin: 100px !important; }

    // margin vertical
    .mv-0-xs    { margin-top: 0px !important; margin-bottom: 0px !important; }
    .mv-5-xs    { margin-top: 5px !important; margin-bottom: 5px !important; }
    .mv-10-xs   { margin-top: 10px !important; margin-bottom: 10px !important; }
    .mv-15-xs   { margin-top: 15px !important; margin-bottom: 15px !important; }
    .mv-20-xs   { margin-top: 20px !important; margin-bottom: 20px !important; }
    .mv-25-xs   { margin-top: 25px !important; margin-bottom: 25px !important; }
    .mv-30-xs   { margin-top: 30px !important; margin-bottom: 30px !important; }
    .mv-35-xs   { margin-top: 35px !important; margin-bottom: 35px !important; }
    .mv-40-xs   { margin-top: 40px !important; margin-bottom: 40px !important; }
    .mv-45-xs   { margin-top: 45px !important; margin-bottom: 45px !important; }
    .mv-50-xs   { margin-top: 50px !important; margin-bottom: 50px !important; }
    .mv-55-xs   { margin-top: 55px !important; margin-bottom: 55px !important; }
    .mv-60-xs   { margin-top: 60px !important; margin-bottom: 60px !important; }
    .mv-65-xs   { margin-top: 65px !important; margin-bottom: 65px !important; }
    .mv-70-xs   { margin-top: 70px !important; margin-bottom: 70px !important; }
    .mv-75-xs   { margin-top: 75px !important; margin-bottom: 75px !important; }
    .mv-80-xs   { margin-top: 80px !important; margin-bottom: 80px !important; }
    .mv-85-xs   { margin-top: 85px !important; margin-bottom: 85px !important; }
    .mv-90-xs   { margin-top: 90px !important; margin-bottom: 90px !important; }
    .mv-95-xs   { margin-top: 95px !important; margin-bottom: 95px !important; }
    .mv-100-xs  { margin-top: 100px !important; margin-bottom: 100px !important; }

    // margin horizontal
    .mh-0-xs    { margin-left: 0px !important; margin-right: 0px !important; }
    .mh-5-xs    { margin-left: 5px !important; margin-right: 5px !important; }
    .mh-10-xs   { margin-left: 10px !important; margin-right: 10px !important; }
    .mh-15-xs   { margin-left: 15px !important; margin-right: 15px !important; }
    .mh-20-xs   { margin-left: 20px !important; margin-right: 20px !important; }
    .mh-25-xs   { margin-left: 25px !important; margin-right: 25px !important; }
    .mh-30-xs   { margin-left: 30px !important; margin-right: 30px !important; }
    .mh-35-xs   { margin-left: 35px !important; margin-right: 35px !important; }
    .mh-40-xs   { margin-left: 40px !important; margin-right: 40px !important; }
    .mh-45-xs   { margin-left: 45px !important; margin-right: 45px !important; }
    .mh-50-xs   { margin-left: 50px !important; margin-right: 50px !important; }
    .mh-55-xs   { margin-left: 55px !important; margin-right: 55px !important; }
    .mh-60-xs   { margin-left: 60px !important; margin-right: 60px !important; }
    .mh-65-xs   { margin-left: 65px !important; margin-right: 65px !important; }
    .mh-70-xs   { margin-left: 70px !important; margin-right: 70px !important; }
    .mh-75-xs   { margin-left: 75px !important; margin-right: 75px !important; }
    .mh-80-xs   { margin-left: 80px !important; margin-right: 80px !important; }
    .mh-85-xs   { margin-left: 85px !important; margin-right: 85px !important; }
    .mh-90-xs   { margin-left: 90px !important; margin-right: 90px !important; }
    .mh-95-xs   { margin-left: 95px !important; margin-right: 95px !important; }
    .mh-100-xs  { margin-left: 100px !important; margin-right: 100px !important; }

    // margin top
    .mt-0-xs    { margin-top: 0px !important; }
    .mt-5-xs    { margin-top: 5px !important; }
    .mt-10-xs   { margin-top: 10px !important; }
    .mt-15-xs   { margin-top: 15px !important; }
    .mt-20-xs   { margin-top: 20px !important; }
    .mt-25-xs   { margin-top: 25px !important; }
    .mt-30-xs   { margin-top: 30px !important; }
    .mt-35-xs   { margin-top: 35px !important; }
    .mt-40-xs   { margin-top: 40px !important; }
    .mt-45-xs   { margin-top: 45px !important; }
    .mt-50-xs   { margin-top: 50px !important; }
    .mt-55-xs   { margin-top: 55px !important; }
    .mt-60-xs   { margin-top: 60px !important; }
    .mt-65-xs   { margin-top: 65px !important; }
    .mt-70-xs   { margin-top: 70px !important; }
    .mt-75-xs   { margin-top: 75px !important; }
    .mt-80-xs   { margin-top: 80px !important; }
    .mt-85-xs   { margin-top: 85px !important; }
    .mt-90-xs   { margin-top: 90px !important; }
    .mt-95-xs   { margin-top: 95px !important; }
    .mt-100-xs  { margin-top: 100px !important; }

    // margin right
    .mr-0-xs    { margin-right: 0px !important; }
    .mr-5-xs    { margin-right: 5px !important; }
    .mr-10-xs   { margin-right: 10px !important; }
    .mr-15-xs   { margin-right: 15px !important; }
    .mr-20-xs   { margin-right: 20px !important; }
    .mr-25-xs   { margin-right: 25px !important; }
    .mr-30-xs   { margin-right: 30px !important; }
    .mr-35-xs   { margin-right: 35px !important; }
    .mr-40-xs   { margin-right: 40px !important; }
    .mr-45-xs   { margin-right: 45px !important; }
    .mr-50-xs   { margin-right: 50px !important; }
    .mr-55-xs   { margin-right: 55px !important; }
    .mr-60-xs   { margin-right: 60px !important; }
    .mr-65-xs   { margin-right: 65px !important; }
    .mr-70-xs   { margin-right: 70px !important; }
    .mr-75-xs   { margin-right: 75px !important; }
    .mr-80-xs   { margin-right: 80px !important; }
    .mr-85-xs   { margin-right: 85px !important; }
    .mr-90-xs   { margin-right: 90px !important; }
    .mr-95-xs   { margin-right: 95px !important; }
    .mr-100-xs  { margin-right: 100px !important; }

    // margin bottom 
    .mb-0-xs    { margin-bottom: 0px !important; }
    .mb-5-xs    { margin-bottom: 5px !important; }
    .mb-10-xs   { margin-bottom: 10px !important; }
    .mb-15-xs   { margin-bottom: 15px !important; }
    .mb-20-xs   { margin-bottom: 20px !important; }
    .mb-25-xs   { margin-bottom: 25px !important; }
    .mb-30-xs   { margin-bottom: 30px !important; }
    .mb-35-xs   { margin-bottom: 35px !important; }
    .mb-40-xs   { margin-bottom: 40px !important; }
    .mb-45-xs   { margin-bottom: 45px !important; }
    .mb-50-xs   { margin-bottom: 50px !important; }
    .mb-55-xs   { margin-bottom: 55px !important; }
    .mb-60-xs   { margin-bottom: 60px !important; }
    .mb-65-xs   { margin-bottom: 65px !important; }
    .mb-70-xs   { margin-bottom: 70px !important; }
    .mb-75-xs   { margin-bottom: 75px !important; }
    .mb-80-xs   { margin-bottom: 80px !important; }
    .mb-85-xs   { margin-bottom: 85px !important; }
    .mb-90-xs   { margin-bottom: 90px !important; }
    .mb-95-xs   { margin-bottom: 95px !important; }
    .mb-100-xs  { margin-bottom: 100px !important; }

    // margin left
    .ml-0-xs    { margin-left: 0px !important; }
    .ml-5-xs    { margin-left: 5px !important; }
    .ml-10-xs   { margin-left: 10px !important; }
    .ml-15-xs   { margin-left: 15px !important; }
    .ml-20-xs   { margin-left: 20px !important; }
    .ml-25-xs   { margin-left: 25px !important; }
    .ml-30-xs   { margin-left: 30px !important; }
    .ml-35-xs   { margin-left: 35px !important; }
    .ml-40-xs   { margin-left: 40px !important; }
    .ml-45-xs   { margin-left: 45px !important; }
    .ml-50-xs   { margin-left: 50px !important; }
    .ml-55-xs   { margin-left: 55px !important; }
    .ml-60-xs   { margin-left: 60px !important; }
    .ml-65-xs   { margin-left: 65px !important; }
    .ml-70-xs   { margin-left: 70px !important; }
    .ml-75-xs   { margin-left: 75px !important; }
    .ml-80-xs   { margin-left: 80px !important; }
    .ml-85-xs   { margin-left: 85px !important; }
    .ml-90-xs   { margin-left: 90px !important; }
    .ml-95-xs   { margin-left: 95px !important; }
    .ml-100-xs  { margin-left: 100px !important; }

    // padding all 
    .pa-0-xs    { padding: 0px !important; }
    .pa-5-xs    { padding: 5px !important; }
    .pa-10-xs   { padding: 10px !important; }
    .pa-15-xs   { padding: 15px !important; }
    .pa-20-xs   { padding: 20px !important; }
    .pa-25-xs   { padding: 25px !important; }
    .pa-30-xs   { padding: 30px !important; }
    .pa-35-xs   { padding: 35px !important; }
    .pa-40-xs   { padding: 40px !important; }
    .pa-45-xs   { padding: 45px !important; }
    .pa-50-xs   { padding: 50px !important; }
    .pa-55-xs   { padding: 55px !important; }
    .pa-60-xs   { padding: 60px !important; }
    .pa-65-xs   { padding: 65px !important; }
    .pa-70-xs   { padding: 70px !important; }
    .pa-75-xs   { padding: 75px !important; }
    .pa-80-xs   { padding: 80px !important; }
    .pa-85-xs   { padding: 85px !important; }
    .pa-90-xs   { padding: 90px !important; }
    .pa-95-xs   { padding: 95px !important; }
    .pa-100-xs  { padding: 100px !important; }

    // padding vertical 
    .pv-0-xs    { padding-top: 0px !important; padding-bottom: 0px !important; }
    .pv-5-xs    { padding-top: 5px !important; padding-bottom: 5px !important; }
    .pv-10-xs   { padding-top: 10px !important; padding-bottom: 10px !important; }
    .pv-15-xs   { padding-top: 15px !important; padding-bottom: 15px !important; }
    .pv-20-xs   { padding-top: 20px !important; padding-bottom: 20px !important; }
    .pv-25-xs   { padding-top: 25px !important; padding-bottom: 25px !important; }
    .pv-30-xs   { padding-top: 30px !important; padding-bottom: 30px !important; }
    .pv-35-xs   { padding-top: 35px !important; padding-bottom: 35px !important; }
    .pv-40-xs   { padding-top: 40px !important; padding-bottom: 40px !important; }
    .pv-45-xs   { padding-top: 45px !important; padding-bottom: 45px !important; }
    .pv-50-xs   { padding-top: 50px !important; padding-bottom: 50px !important; }
    .pv-55-xs   { padding-top: 55px !important; padding-bottom: 55px !important; }
    .pv-60-xs   { padding-top: 60px !important; padding-bottom: 60px !important; }
    .pv-65-xs   { padding-top: 65px !important; padding-bottom: 65px !important; }
    .pv-70-xs   { padding-top: 70px !important; padding-bottom: 70px !important; }
    .pv-75-xs   { padding-top: 75px !important; padding-bottom: 75px !important; }
    .pv-80-xs   { padding-top: 80px !important; padding-bottom: 80px !important; }
    .pv-85-xs   { padding-top: 85px !important; padding-bottom: 85px !important; }
    .pv-90-xs   { padding-top: 90px !important; padding-bottom: 90px !important; }
    .pv-95-xs   { padding-top: 95px !important; padding-bottom: 95px !important; }
    .pv-100-xs  { padding-top: 100px !important; padding-bottom: 100px !important; }

    // padding horizontal 
    .ph-0-xs    { padding-left: 0px !important; padding-right: 0px !important; }
    .ph-5-xs    { padding-left: 5px !important; padding-right: 5px !important; }
    .ph-10-xs   { padding-left: 10px !important; padding-right: 10px !important; }
    .ph-15-xs   { padding-left: 15px !important; padding-right: 15px !important; }
    .ph-20-xs   { padding-left: 20px !important; padding-right: 20px !important; }
    .ph-25-xs   { padding-left: 25px !important; padding-right: 25px !important; }
    .ph-30-xs   { padding-left: 30px !important; padding-right: 30px !important; }
    .ph-35-xs   { padding-left: 35px !important; padding-right: 35px !important; }
    .ph-40-xs   { padding-left: 40px !important; padding-right: 40px !important; }
    .ph-45-xs   { padding-left: 45px !important; padding-right: 45px !important; }
    .ph-50-xs   { padding-left: 50px !important; padding-right: 50px !important; }
    .ph-55-xs   { padding-left: 55px !important; padding-right: 55px !important; }
    .ph-60-xs   { padding-left: 60px !important; padding-right: 60px !important; }
    .ph-65-xs   { padding-left: 65px !important; padding-right: 65px !important; }
    .ph-70-xs   { padding-left: 70px !important; padding-right: 70px !important; }
    .ph-75-xs   { padding-left: 75px !important; padding-right: 75px !important; }
    .ph-80-xs   { padding-left: 80px !important; padding-right: 80px !important; }
    .ph-85-xs   { padding-left: 85px !important; padding-right: 85px !important; }
    .ph-90-xs   { padding-left: 90px !important; padding-right: 90px !important; }
    .ph-95-xs   { padding-left: 95px !important; padding-right: 95px !important; }
    .ph-100-xs  { padding-left: 100px !important; padding-right: 100px !important; }

    // padding top
    .pt-0-xs    { padding-top: 0px !important; }
    .pt-5-xs    { padding-top: 5px !important; }
    .pt-10-xs   { padding-top: 10px !important; }
    .pt-15-xs   { padding-top: 15px !important; }
    .pt-20-xs   { padding-top: 20px !important; }
    .pt-25-xs   { padding-top: 25px !important; }
    .pt-30-xs   { padding-top: 30px !important; }
    .pt-35-xs   { padding-top: 35px !important; }
    .pt-40-xs   { padding-top: 40px !important; }
    .pt-45-xs   { padding-top: 45px !important; }
    .pt-50-xs   { padding-top: 50px !important; }
    .pt-55-xs   { padding-top: 55px !important; }
    .pt-60-xs   { padding-top: 60px !important; }
    .pt-65-xs   { padding-top: 65px !important; }
    .pt-70-xs   { padding-top: 70px !important; }
    .pt-75-xs   { padding-top: 75px !important; }
    .pt-80-xs   { padding-top: 80px !important; }
    .pt-85-xs   { padding-top: 85px !important; }
    .pt-90-xs   { padding-top: 90px !important; }
    .pt-95-xs   { padding-top: 95px !important; }
    .pt-100-xs  { padding-top: 100px !important; }

    // padding right 
    .pr-0-xs    { padding-right: 0px !important; }
    .pr-5-xs    { padding-right: 5px !important; }
    .pr-10-xs   { padding-right: 10px !important; }
    .pr-15-xs   { padding-right: 15px !important; }
    .pr-20-xs   { padding-right: 20px !important; }
    .pr-25-xs   { padding-right: 25px !important; }
    .pr-30-xs   { padding-right: 30px !important; }
    .pr-35-xs   { padding-right: 35px !important; }
    .pr-40-xs   { padding-right: 40px !important; }
    .pr-45-xs   { padding-right: 45px !important; }
    .pr-50-xs   { padding-right: 50px !important; }
    .pr-55-xs   { padding-right: 55px !important; }
    .pr-60-xs   { padding-right: 60px !important; }
    .pr-65-xs   { padding-right: 65px !important; }
    .pr-70-xs   { padding-right: 70px !important; }
    .pr-75-xs   { padding-right: 75px !important; }
    .pr-80-xs   { padding-right: 80px !important; }
    .pr-85-xs   { padding-right: 85px !important; }
    .pr-90-xs   { padding-right: 90px !important; }
    .pr-95-xs   { padding-right: 95px !important; }
    .pr-100-xs  { padding-right: 100px !important; }

    // padding bottom
    .pb-0-xs    { padding-bottom: 0px !important; }
    .pb-5-xs    { padding-bottom: 5px !important; }
    .pb-10-xs   { padding-bottom: 10px !important; }
    .pb-15-xs   { padding-bottom: 15px !important; }
    .pb-20-xs   { padding-bottom: 20px !important; }
    .pb-25-xs   { padding-bottom: 25px !important; }
    .pb-30-xs   { padding-bottom: 30px !important; }
    .pb-35-xs   { padding-bottom: 35px !important; }
    .pb-40-xs   { padding-bottom: 40px !important; }
    .pb-45-xs   { padding-bottom: 45px !important; }
    .pb-50-xs   { padding-bottom: 50px !important; }
    .pb-55-xs   { padding-bottom: 55px !important; }
    .pb-60-xs   { padding-bottom: 60px !important; }
    .pb-65-xs   { padding-bottom: 65px !important; }
    .pb-70-xs   { padding-bottom: 70px !important; }
    .pb-75-xs   { padding-bottom: 75px !important; }
    .pb-80-xs   { padding-bottom: 80px !important; }
    .pb-85-xs   { padding-bottom: 85px !important; }
    .pb-90-xs   { padding-bottom: 90px !important; }
    .pb-95-xs   { padding-bottom: 95px !important; }
    .pb-100-xs  { padding-bottom: 100px !important; }

    // padding left
    .pl-0-xs    { padding-left: 0px !important; }
    .pl-5-xs    { padding-left: 5px !important; }
    .pl-10-xs   { padding-left: 10px !important; }
    .pl-15-xs   { padding-left: 15px !important; }
    .pl-20-xs   { padding-left: 20px !important; }
    .pl-25-xs   { padding-left: 25px !important; }
    .pl-30-xs   { padding-left: 30px !important; }
    .pl-35-xs   { padding-left: 35px !important; }
    .pl-40-xs   { padding-left: 40px !important; }
    .pl-45-xs   { padding-left: 45px !important; }
    .pl-50-xs   { padding-left: 50px !important; }
    .pl-55-xs   { padding-left: 55px !important; }
    .pl-60-xs   { padding-left: 60px !important; }
    .pl-65-xs   { padding-left: 65px !important; }
    .pl-70-xs   { padding-left: 70px !important; }
    .pl-75-xs   { padding-left: 75px !important; }
    .pl-80-xs   { padding-left: 80px !important; }
    .pl-85-xs   { padding-left: 85px !important; }
    .pl-90-xs   { padding-left: 90px !important; }
    .pl-95-xs   { padding-left: 95px !important; }
    .pl-100-xs  { padding-left: 100px !important; }
}

