// Font-Face
// @include font-face("TradeGothicLT-Light", "../webfonts/2F7C2F_2_0", $file-formats: eot woff2 woff);
// @include font-face("TradeGothicLT", "../webfonts/2F7C2F_0_0", $file-formats: eot woff2 woff);
// @include font-face("TradeGothicLT-Bold", "../webfonts/2F7C2F_3_0", $file-formats: eot woff2 woff);
// $font-stack-regular             : 'TradeGothicLT', sans-serif;
// $font-stack-light               : 'TradeGothicLT-Light', sans-serif;
// $font-stack-bold                : 'TradeGothicLT-Bold', sans-serif;

// Google Font
// @include web-fonts(("Open Sans": ("500", "600 italic")));
// @include web-fonts("Open Sans", ("Ubuntu": ("400", "italic")));

// Variables 
$font-stack 					: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
$em-base    					: 14px;


// Soft reset 
h1,h2,h3,h4,h5,h6         		{ margin: 0; font-weight: 400;  @include hyphens(none);}
p                         		{ margin: 0; line-height: 1.4em; font-weight: 400;}

// Html / Body 
html, 					 
body 					   		{ font-family: $font-stack; font-size: 14px !important; line-height: 1.4em; }

// Text Align
.ta-l   						{ text-align: left; }
.ta-r   						{ text-align: right; }
.ta-c   						{ text-align: center; display: block; }
.ta-j   						{ text-align: justify;}

@media #{$max-device-sm} { 
    .ta-l-sm  					{ text-align: left !important; }
    .ta-r-sm  					{ text-align: right !important; }
    .ta-c-sm  					{ text-align: center !important; display: block !important; }
    .ta-j-sm  					{ text-align: justify !important;}
}

@media #{$max-device-xs} { 
    .ta-l-xs  					{ text-align: left !important; }
    .ta-r-xs  					{ text-align: right !important; }
    .ta-c-xs  					{ text-align: center !important; display: block !important; }
    .ta-j-xs  					{ text-align: justify !important;}
}

// Font appearance
.tt-upp 						{ text-transform: uppercase;}
.td-und 						{ text-decoration: underline !important; }

// Title hierarchy :: Bigger to smaller  
.h-like-a 						{ }

@media #{$max-device-sm} { 
    
}

@media #{$max-device-xs} { 

}

// Paragraph hierarchy :: Bigger to smaller 
.p-like-a                       {  }

@media #{$max-device-sm} { 
    
}

@media #{$max-device-xs} { 

}
