// Soft reset 
button                    							{ background-color: transparent; border: none; padding: 0;}
a,
a:hover,
a:focus         									{ color: inherit !important; text-decoration: none; cursor: pointer;}

// Link hover 
.td-und-hover-a:hover,
.td-und-hover-a:focus								{ text-decoration: underline;}
.td-und-hover-b:hover > *,		
.td-und-hover-b:focus > *							{ text-decoration: underline;}

// Buttons style
.btn 												{ }
.btn.btn-lg 										{ }
.btn.btn-sm 										{ }

// Button Mobile :: Close
.btn-mobile-hamburger                          		{ display: block; margin: 0 auto; width: 35px; height: 20px; position: relative;  @include transform(rotate(0deg)); @include transition(all 0.5s ease-in-out); cursor: pointer;}
.btn-mobile-hamburger span                    	 	{ display: block; position: absolute; height: 4px; width: 100%; background: $bk-a; opacity: 1; left: 0; @include transform(rotate(0deg)); @include transition(all 0.25s ease-in-out);}
.btn-mobile-hamburger span:nth-child(1)        		{ top: 0px; }
.btn-mobile-hamburger span:nth-child(2),
.btn-mobile-hamburger span:nth-child(3)        		{ top: 9px;}
.btn-mobile-hamburger span:nth-child(4)        		{ top: 18px;}

// Button Mobile :: Open
.menu-open .btn-mobile-hamburger span:nth-child(1) 	{ top: 18px;width: 0%;left: 50%;}
.menu-open .btn-mobile-hamburger span:nth-child(2) 	{ @include transform(rotate(45deg));}
.menu-open .btn-mobile-hamburger span:nth-child(3) 	{ @include transform(rotate(-45deg));}
.menu-open .btn-mobile-hamburger span:nth-child(4) 	{ top: 18px; width: 0%; left: 50%; }

// Dropdown

// Breadcrumb

// Pagination 
.pagination > li > a, 
.pagination > li > span,
.pager li > a, 
.pager li > span{
	@include transition(all 0.5s ease-in-out);
}


