// Input 
.form-control 															{ @include appearance(none);}
.form-control {
	  @include placeholder 												{ }
}
.form-control:focus                 									{ border-color: $bk-a !important; outline : 0!important; box-shadow: 0 0 8px rgba(0,0, 0, 0.1)!important;}

// Label 
label 																	{ margin-bottom: 0; }
		
// Input File :: CSS Enhancement 
.inputfile 																{ width: 0.1px; height: 1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
.inputfile + label 														{ max-width: 80%; font-size: rem(16); font-weight: 700; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: inline-block; overflow: hidden; padding: 0.625rem 1.25rem; }
.inputfile:focus + label, 	
.inputfile.has-focus + label 											{ outline: 1px dotted #000; outline: -webkit-focus-ring-color auto 5px; }
.inputfile + label 														{ color: $wh-a; background-color: $bk-a; }
.inputfile:focus + label, 
.inputfile.has-focus + label, 
.inputfile + label:hover 												{ background-color: tint($bk-a, 20%); }

// Checkbox / Radio  :: CSS Enhancement
.checkradio-wp { display: block; }
.checkradio-wp > input, 
.checkradio-wp > label 													{ cursor: pointer; }
.checkradio-wp > input 													{ position: absolute; -moz-opacity: 0; opacity: 0; filter: alpha(opacity = 0); }
.checkradio-wp > input[type=radio] + label, 
.checkradio-wp > input[type=checkbox] + label 							{ padding: 0px 0 0px 25px; font-weight: 400; font-size: 14px; background-image: url("../images/sprites/sprite-checkbox_radio.png"); background-repeat: no-repeat; }
.checkradio-wp > input[type=radio] + label 								{ background-position: 0 -168px;}
.checkradio-wp > input[type=checkbox] + label 							{ background-position: 0 -537px;}
.checkradio-wp > input[type=radio]:checked + label					    { background-position: 0 0;}
.checkradio-wp > input[type=checkbox]:checked + label 					{ background-position: 0 -352px; }

// Select :: Bootstrap Plugin Enhancement 
.bootstrap-select-wp 																		{ }
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) 	{ min-width: 50px; width: 100%;  }
.bootstrap-select .btn.dropdown-toggle														{ padding-right: 5px !important; position: relative;}
.bootstrap-select .btn.dropdown-toggle:before,
.bootstrap-select .btn.dropdown-toggle:after 												{ display: none; }
.bootstrap-select .bs-caret																	{ position: static !important; }		
.bootstrap-select .filter-option															{ width: 80% !important; text-overflow: ellipsis; white-space: nowrap; padding-left: 1px; }		
.bootstrap-select  .dropdown-menu                											{ min-width: 100%;}
.bootstrap-select  .dropdown-menu.inner         											{ position: static; max-width: 450px; border: 0; padding: 0; margin: 0; box-shadow: none; }
.bootstrap-select  .dropdown-menu li             											{ display: block;  }
.bootstrap-select  .dropdown-menu li a           											{ display: block; white-space: normal;}
.bootstrap-select  .dropdown-menu li.selected  a 											{ }

// Feedback :: Error
label.error 															{ color: $bk-a; margin-top: 5px;}
label.error.valid 														{ color: $bk-a;}
	