// Sprite :: listing
.sprite                     { display: inline-block; background-image: url('../images/sprites/sprite.png'); background-repeat: no-repeat; vertical-align: text-top;}

.sprite.test 				{ width: 20px;height: 20px; background-position: 0 0;}

// Sprite :: HiDPI Media Query
@include hidpi(1.5) {
	.sprite {
			background-image: url(../images/sprites/sprite@2x.png) !important; 
			background-size: 1000px;
	}
	.checkradio-wp > input[type=radio] + label, 
	.checkradio-wp > input[type=checkbox] + label {
		background-image: url(../images/sprites/sprite-checkbox_radio@2x.png) !important; 
		background-size: 17px;
	}
	.mfp-close, 									
	.mfp-arrow {
		background-image: url(../images/sprites/sprite-popup@2x.png) !important; 
		background-size: 150px !important;
	}							
}

// Spinner
.spinner-wp 						{ display: block; width: 32px; height: 32px; @include transition(all 0.2s ease-in-out);}
.spinner-circle 					{ border: 4px rgba(#FFF, 1) solid; border-top: 4px rgba($bk-a, 1) solid; @include prefixer(border-radius, 50%, webkit moz o spec);  @include animation(spCircRot .6s infinite linear);}

@include keyframes(spCircRot) { 
	from 							{ @include transform(rotate(0deg)); }
	to 								{ @include transform(rotate(359deg)); }
}
