// Modal :: Structure 
#modal-loader                               { display: none; @include position(fixed, 50% null null 50%); z-index: 99999; margin: 0 -35px 0 -35px; padding: 20px;background-color: rgba(0,0,0,0.8); @include prefixer(border-radius, 100%, webkit moz spec);}
#modal .close                 				{ display: block;}
.modal-backdrop                             { position: fixed; bottom: 0; height: auto !important; }
.modal-header 								{ position: relative; padding-right: 50px;}
.modal-header .close                        { display: none; @include position(absolute, 50% 15px null null); margin-top: -8px; font-size: 30px !important; color: rgba(0,0,0,.25); opacity: 1; }
.modal-body 								{ padding: 30px 15px 25px 15px; }
.modal-footer .btn + .btn					{ margin-left: 0; }

// Modal :: Open 
body.modal-loading:before                   { content:""; @include position(fixed, 0 null null 0);  z-index: 9999; width: 100%; height: 100%; background-color: rgba(0,0,0,0.75); }
body.modal-loading #modal-loader            { display: block; }
