// Hide / Show class
.visible-js 							{ display: none;}
.no-js .visible-js  					{ display: block;}
.no-js .hidden-js   					{ display: none;}

// CaroufredSel
.no-js .carousel-horizontal > * 		{ display: block; margin-bottom: 20px; }
.no-js #carousel-full-width .content 	{ opacity: 1 !important;}

// Form
.no-js .inputfile + label 				{ display: none; }
.no-js .inputfile 						{ width: auto; height: auto; opacity: 1; overflow: visible; position: static; z-index: 0; }
.no-js .selectpicker      				{ display: block !important; width: 100%; padding: 15px;}

