@media print  { 

	// Image :: Disable full width
	img.w-full,
	img.w-full-sm,
	img.w-full-xs 												{ width: auto !important; margin: 0 auto !important;} 

	// Buttons :: Hide
	.pagination,
	.pager,
	.btn 														{ display: none !important; }

	// CaroufredSel Horizontal :: Display Correctly
	.carousel-horizontal-wp .caroufredsel_wrapper,
	.carousel-horizontal-wp .carousel-horizontal 				{ position: relative !important; top: auto !important; left: auto !important; right: auto!important;overflow: visible !important; height: auto !important; width: auto !important; }	
	.carousel-horizontal > * 									{ display: block; margin-bottom: 20px; }
	
	// CaroufredSel Full Width :: Display Correctly
	#carousel-full-width-wp .hidden								{ display: block !important;}
	#carousel-full-width-wp .caroufredsel_wrapper,
	#carousel-full-width,
	#carousel-full-width .link   								{ position: relative !important; height: auto !important; left: auto !important; top: auto !important; right: auto !important; bottom: auto !important;width: 100% !important; float: none !important; clear:both !important;}
	#carousel-full-width > *									{ float: none !important; display: block !important; width: 100% !important; height: auto !important;}
	#carousel-full-width .content								{ opacity: 1 !important; display: block !important; z-index: 9;  background-color: #fff !important; width: 100% !important;}	

	// Wow Plugin :: Display Correctly
	.wow,
	.wow *														{ opacity: 1 !important; visibility: visible !important;}

	// Link href :: Hide
	a:link:after,
	a:visited:after 											{ content:" (" attr(href) ")"; display: none !important;}

}
