[(#AUTORISER{configurer,_apsulis_config_generale}|sinon_interdire_acces)]

<h1 class="grostitre">[(#CHEMIN_IMAGE{apsulis_config_generale-64.png}|balise_img{''})]&nbsp;<:apsulis_config_generale:apsulis_config_generale_titre:></h1>

#BOITE_OUVRIR{#CHEMIN_IMAGE{article-24.png}|balise_img{'',cadre-icone}|concat{Sommaire},'simple','titrem'}

<ul>
	<li><a href="#infos_societe">Paramétrages des informations sur la société</a></li>
	<li><a href="#liens_reseaux_sociaux">Paramétrages des liens vers les réseaux sociaux</a></li>
	<li><a href="#email_publications">Paramétrages des emails pour la reception du mail d'inscription aux publications</a></li>
</ul>

#BOITE_FERMER

<span id='infos_societe'></span>
<div class="ajax">
	#FORMULAIRE_CONFIGURER_APSULIS_CONFIG_GENERALE_INFOS_SOCIETE
</div>

<span id='liens_reseaux_sociaux'></span>
<div class="ajax">
	#FORMULAIRE_CONFIGURER_APSULIS_CONFIG_GENERALE_RESEAUX_SOCIAUX
</div>

<span id='email_publications'></span>
<div class="ajax">
	#FORMULAIRE_CONFIGURER_APSULIS_CONFIG_GENERALE_EMAIL_PUBLICATIONS
</div>