[(#AUTORISER{configurer,_apsulis_config_generale}|sinon_interdire_acces)]

<h1 class="grostitre">[(#CHEMIN_IMAGE{apsulis_config_generale-64.png}|balise_img{''})]&nbsp;<:apsulis_config_generale:apsulis_config_generale_titre_mep:></h1>

<div class="ajax">
	#FORMULAIRE_CONFIGURER_APSULIS_CONFIG_GENERALE_MEP
</div>