#HTTP_HEADER{HTTP/1.0  #ENV{code,'404 Not Found'}}
#HTTP_HEADER{"Cache-Control: no-store, no-cache, must-revalidate"}
#HTTP_HEADER{Pragma: no-cache}
<INCLURE{fond=inclure/inc-tete,env,id_rubrique,body_class=no-sidebar erreur404} />
	<div id="content">

	    <header class="mt3 mb3">
	        <h1 class="page-title c-purple left">Erreur 404 - Page non trouvée</h1>
	        <div class="clear"></div>
	    </header>

		<section id="main" role="main">
	        <article class="w800p">
				<div>
					<section id="chapo">
						<strong>Nous sommes d&eacute;sol&eacute;s.<br />
							Une erreur est survenue ou la page que vous cherchez &agrave; atteindre n'est pas pr&eacute;sente sur le site.<br />
							Nous vous invitons à recharger cette page ult&eacute;rieurement
						</strong>
					</section> <!-- Fermeture de ID : chapo -->
					<p style="margin-bottom: 0px;">Vous pouvez &eacute;galement :</p>
					<ul>
						<li>effectuer une recherche sur le site &agrave; l&#x27;aide du cadre en haut de page,</li>
						<li>consulter <a href='#URL_PAGE{plan}' title='Plan du site'>le plan du site complet</a></li>
					</ul>
					[<p>Si toutefois vous pensez qu'il s'agit d'un probl&egrave;me technique, n'hésitez pas à <a href="mailto:(#EMAIL_WEBMASTER)" title="Nous contacter">nous contacter</a>.</p>]
					
				</div>
	        </article>
	    </section><!-- #main -->

	</div><!-- #content -->
	
<INCLURE{fond=inclure/inc-pied,env}>