[(#SET{largeur,210})]
[(#SET{hauteur,138})]
[(#SET{recherche,#RECHERCHE})]
[(#ENV{id_mot}|oui)
	[(#SET{recherche,#INFO_TITRE{mot,#ENV{id_mot}}})]
]


[(#REM) Gérer les exclusions ]
<BOUCLE_rubColDroite(RUBRIQUES){id_mot=1}>
	<BOUCLE_artColDroite(ARTICLES){id_rubrique}{doublons}>
		
	</BOUCLE_artColDroite>
</BOUCLE_rubColDroite>
<BOUCLE_rubExclus(RUBRIQUES){id_mot=20}>
	<BOUCLE_artExclus(ARTICLES){branche}{doublons}>
		
	</BOUCLE_artExclus>
</BOUCLE_rubExclus>
<BOUCLE_pagesUniques(ARTICLES){id_rubrique=-1}{doublons}>
	
</BOUCLE_pagesUniques>
<BOUCLE_articlesExclus(ARTICLES){id_mot=1}{doublons}>

</BOUCLE_articlesExclus>

[(#REM) Par mot si id_mot ]
<BOUCLE_parMot(ARTICLES){id_mot=#ENV{id_mot}}>
	[(#SET_PUSH{recherche_articles,#ID_ARTICLE})]
</BOUCLE_parMot>

[(#REM) Recherche normale ]
<BOUCLE_rechercheSimple(ARTICLES) {recherche} {!par points}>
	[(#SET_PUSH{recherche_articles,#ID_ARTICLE})]
</BOUCLE_rechercheSimple>

#SET{pagination,5}
#SET{debut,1}
[(#ENV{debut_recherche}|oui)
	[(#SET{debut,[(#ENV{debut_recherche}|plus{1})]})]
]
[(#SET{fin,[(#GET{debut}|plus{4})]})]

<BOUCLE_comptage(ARTICLES) {id_article IN #GET{recherche_articles}} {doublons}>
	[(#SET_PUSH{recherche_articles2,#ID_ARTICLE})]
</BOUCLE_comptage>
	#SET{nombre_articles,#TOTAL_BOUCLE}
</B_comptage>

[(#GET{pagination}|>={#GET{nombre_articles}}|oui)
	#SET{fin,#GET{nombre_articles}}
]
[(#SET{ariane, <strong>Résultat(s)</strong>[ (#GET{debut})][ à (#GET{fin})][ sur un total de (#GET{nombre_articles})] pour la recherche[ sur le mot clé(#ENV{id_mot}|oui)] : [<em>"(#GET{recherche})"</em>]. })]
[(#SET{ariane_titre,[(#GET{ariane}|textebrut)]})]

<INCLURE{fond=inclure/inc-tete,env,id_rubrique,ariane=#GET{ariane_titre},nofollow=oui} />
<section id='contenu' class='page_recherche row bgWhite page-rub-#ID_RUBRIQUE'>

	<header>
		<h1 class="titre_1 col-md-12">Recherchez par mot clé ou phrase</h1>
	</header>

	<div class="colonne_centrale">
		<div class='col-md-8'>
			#FORMULAIRE_RECHERCHE

			<B_recherche>
			[(#ANCRE_PAGINATION)]
			<section class="recherche-result">
				<h2 class="recherche-title">#GET{ariane}</h2>
				[(#REM) <span class="result-nb mb1">#GRAND_TOTAL résultat[(#GRAND_TOTAL|>{1}|?{s,''})]</span> ]
				<BOUCLE_recherche(ARTICLES) {id_article IN #GET{recherche_articles2}} {pagination 5}>
						#SET{image,#LOGO_ARTICLE}
						#SET{titre,#TITRE}
						#SET{date,#DATE}
						#SET{intro,#DESCRIPTIF}
						#SET{url,#URL_ARTICLE}							
					<article class='article article_recherche row' itemscope><a href="#GET{url}" title="Lire la suite de l'article : #GET{titre}">
						<span class='titre_rub titre_rub_recherche titre_rub-#ID_RUBRIQUE no-text sprite'>#TITRE</span>
						<div class="col-md-10">
							<h3 class='titre_actu'>[(#GET{titre})]</h3>
							<p class='date_publi'><span content="#GET{date}" itemprop="datePublished">[(#GET{date}|affdate)]</span></p>
							[<p class='intro_actu'>(#GET{intro})</p>]
							<p class='en_savoir_plus'>En savoir +</p>
						</div>
					</a></article>
				</BOUCLE_recherche>
			</section><!-- .recherche-result-->
			[<div class='pagination col-md-12'>(#PAGINATION{page_precedent_suivant,separateur=' . ',label_suivant='>>',label_precedent='<<'})</div>]
			</B_recherche>
				<div class='col-md-12 recherche alert no-result'>Aucun résultat ne correspond à votre recherche.</div>
			<//B_recherche>

		</div>
		<INCLURE{fond=noisettes/inc-aside} />
	</div><!-- .colonne_centrale -->



</section>	
<INCLURE{fond=inclure/inc-pied,env}>