<BOUCLE_plan(ARTICLES){id_article}>
<INCLURE{fond=inclure/inc-tete,env,id_rubrique,ariane=plan du site,body_class=no-sidebar plan_site} />

<section class='text-center bloc_logo'>
	[<figure class='figure'>(#LOGO_RUBRIQUE_NORMAL|sinon{#CHEMIN{theme/img/generales/fond_rubrique.jpg}|balise_img}|inserer_attribut{class,item})</figure>]
</section>

<article><div class="container"><div class="row">
	
	<header><div class="col-md-10 entete_article"><div class="row"><div class='col-md-11'>
			<INCLURE{fond=noisettes/inc-ariane,ariane=plan du site} />
			<h1 class='titre_1 #EDIT{titre}'>#TITRE</h1>
			<INCLURE{fond=noisettes/inc-partage-addthis,env,id_rubrique} />
	</div></div></div></header>

	<section id="contenu" role='main' class="col-md-9"><div class="texte">
		[<div class="intro #EDIT{chapo}">(#CHAPO)</div>]
		[<div class="texte #EDIT{texte}">(#TEXTE)</div>]

		<div class="div_recherche">
			<ul>
			<BOUCLE_Racine(RUBRIQUES){racine}{par num titre}{!id_mot=2}>
				<li>
					<h2 class='spip'><a href="#URL_RUBRIQUE">#TITRE</a></h2>
					<B_articles_racine>
					<ul class="spip">
						<BOUCLE_articles_racine(ARTICLES) {id_rubrique} {par num titre}{!par date}{!id_mot=2}>
						<li><a href="#URL_ARTICLE">#TITRE</a></li>
						</BOUCLE_articles_racine>
					</ul>
					</B_articles_racine>

					<B_rubriques>
					<ul>
						<BOUCLE_rubriques(RUBRIQUES) {id_parent} {par num titre}{!par date}{!id_mot=2}>
						<li>
							<h2 class='spip'><a href="#URL_RUBRIQUE">#TITRE</a></h2>

							<B_articles>
							<ul class="spip">
								<BOUCLE_articles(ARTICLES) {id_rubrique} {par num titre}{!par date}{!id_mot=2}>
								<li><a href="#URL_ARTICLE">#TITRE</a></li>
								</BOUCLE_articles>
							</ul>
							</B_articles>

							<BOUCLE_sous_rubriques(BOUCLE_rubriques)></BOUCLE_sous_rubriques>
						</li>
						</BOUCLE_rubriques>
					</ul>
					</B_rubriques>
				</li>
			</BOUCLE_Racine>
			</ul>


			<B_pages>
			<ul>
			<li>
				<h2 class='spip'>Informations pratiques</h2>
				<ul class="spip">
					<BOUCLE_pages(ARTICLES) {id_rubrique=-1} {par num titre}{!par date}{!id_mot=2}>
					<li><a href="#URL_ARTICLE">#TITRE</a></li>
					</BOUCLE_pages>
				</ul>
			</li>
			</ul>
			</B_pages>
		</div>

	</div></section>

	<INCLURE{fond=noisettes/inc-aside,env,id_article} />

</div></div></article>
	
<INCLURE{fond=inclure/inc-pied,env}>
</BOUCLE_plan>