// Skip Link
#skip-links 											{ position: absolute; z-index: 999999999; top: 0; }
#skip-links a 											{ position: absolute; left: -7000px; padding: 0.5em; background: #000; color: #fff !important; text-decoration: none; }
#skip-links a:focus 									{ position: static; }

// Navigation Main :: Force Display Block on tablet/desktop
@media #{$min-device-sm} {
	#nav-main											{ display: block !important; }
}

// Navigation Main :: Structure
#nav-main 												{ }
#nav-main {
	.item 												{ position: relative; }
	.link 												{ }
}

@media #{$max-device-xs} {
	#nav-main											{ display: none; }
}

// Navigation Sub :: Structure
.nav-sub 												{ @include position(relative, auto null null auto); height: auto; opacity: 1; display: none;}
@media #{$min-device-xs} {
	li[data-navsub]:hover > .nav-sub,
	li[data-navsub].focus > .nav-sub     				{ visibility: visible; top: 20px; height: auto; opacity: 1; }   	
	.nav-sub											{ display: block !important; @include position(absolute, 0 null null 0); overflow: hidden; height: 0; width: 100%; @include transition(all 0.15s ease-in-out); opacity: 0; }
	.nav-sub {
		.item 											{ }
		.link 											{ }
	}
}

// Navigation Sub :: Tablet Close Button
.nav-sub-close 											{ display: none !important; color: $bk-a !important;}
.tablet-on .nav-sub-close 								{ display: block !important;}

// Header :: Up / Down on scroll
#main 													{ padding-top: 130px;}
#header                       							{ position: fixed; top: 0; left: 0; width: 100%; z-index: 101; transition: all 0.2s ease-in-out;}
body.header-up #header 									{ margin-top: -130px; opacity: 0;}
body.header-down #header 								{ margin-top: 0;}


