// Body / Main 
body 											{ }
#main 											{ }

// Caroufredsel :: Horizontal Generic
.caroufredsel_wrapper 							{ width: 100% !important; }
.carousel-horizontal-wp  						{ position: relative;}
.carousel-horizontal > * 						{ float: left; position: relative }
.carousel-horizontal-nav .arrow-d,
.carousel-horizontal-nav .arrow-e 				{ position: absolute; top: 50%; margin-top: -15px; }
.carousel-horizontal-nav .arrow-d 				{ left: -30px;}
.carousel-horizontal-nav .arrow-e 				{ right: -30px;}

.carousel-pagination a                      	{ display: inline-block; width: 12px; height: 12px; margin: 0 5px; border: 1px solid $bk-a; @include prefixer (border-radius, 15px, moz webkit spec); background-color: transparent; @include transition(all 0.2s ease-in-out);}
.carousel-pagination a.selected             	{ background-color: $bk-a;}
.carousel-pagination span                   	{ display: none;}
.carousel-pagination a:hover                	{ }

// Caroufredsel :: Full Width
#carousel-full-width-wp                       	{ position: relative;}
#carousel-full-width-wp .caroufredsel_wrapper	{ min-height: 1px !important;  width: 100% !important; }
#carousel-full-width-wp .container				{ position: relative; height: 100%;  }
#carousel-full-width .item						{ position: relative; display: block; float: left; min-height: 1px !important;  }
#carousel-full-width .link						{ position: relative;display: block;  height: 800px!important; width: 100%; background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#carousel-full-width .content					{ opacity: 0; transition: all 0.5s ease-in-out;}
#carousel-full-width .item.active .content		{ opacity: 1;}
#carousel-full-width-pagination					{ }

@media (max-width: 991px) {
    #carousel-full-width .item,
    #carousel-full-width .link 					{ height: 400px !important;}
}

@media (max-width: 767px) {
    #carousel-full-width .item,
    #carousel-full-width .link 					{ height: 200px !important;}
}

// Magnific Pop Up 
.magnific-popup {
	.item .sprite								{ @include position(absolute, 50% null null 50%); z-index: 1; margin: -20px 0 0 -20px; @include transition(all 0.4s ease-in-out); opacity: 0;}
	.item img									{ @include transition(all 0.2s ease-in-out); @include image-rendering(-webkit-optimize-contrast);}
	.item:hover img,
	.item:focus img 							{ @include transform(scale(1.025)); @include image-rendering(-webkit-optimize-contrast); } 
	.item:hover .sprite,
	.item:focus .sprite 						{ opacity: 0.8; } 
}
.mfp-close 										{ width: 30px !important; height: 30px; line-height: 30px; position: absolute; right: 0; top: 5px; text-decoration: none; text-align: center; opacity: 0.65; filter: alpha(opacity=65); padding: 0 0 18px 10px; color: #FFF; font-style: normal; font-size: 28px; font-family: Arial, Baskerville, monospace;   display: block; background-image: url('../images/sprites/sprite-popup.png') !important; background-position: -60px 0 !important; text-indent: 999em; overflow: hidden!important; transition: all 0.2s ease-in-out;}
.mfp-arrow 										{ position: absolute; opacity: 0.65; filter: alpha(opacity=65); margin: 0; top: 50%; margin-top: -55px; padding: 0; width: 30px; height: 60px; display: block; background-image: url('../images/sprites/sprite-popup.png') !important; transition: all 0.2s ease-in-out;}
.mfp-arrow-left 								{ left: 20px; background-position: 0px 0 !important; }
.mfp-arrow-right 								{ right: 20px; background-position: -30px 0 !important; }
.mfp-arrow:after,
.mfp-arrow:before 								{ display: none !important; }

.mfp-zoom-out .mfp-with-anim 					{ opacity: 0; transition: all 0.3s ease-in-out; transform: scale(1.3); }
.mfp-zoom-out.mfp-bg 							{ opacity: 0; transition: all 0.3s ease-out; }
.mfp-zoom-out.mfp-ready .mfp-with-anim 			{ opacity: 1; transform: scale(1); }
.mfp-zoom-out.mfp-ready.mfp-bg 					{ opacity: 0.8; }
.mfp-zoom-out.mfp-removing .mfp-with-anim 		{ transform: scale(1.3); opacity: 0; }
.mfp-zoom-out.mfp-removing.mfp-bg 				{ opacity: 0; }
