<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
[(#REM) <meta name="viewport" content="width=1024" /> ]

[(#REM) Meta Facebook ]
<BOUCLE_fb_art(ARTICLES){id_article}>
	[(#MODELE{insert_head_og, env, id_article})]
</BOUCLE_fb_art>
	<BOUCLE_fb_rub(RUBRIQUES){id_rubrique}>
		[(#MODELE{insert_head_og, env, id_rubrique})]
	</BOUCLE_fb_rub>
		[(#MODELE{insert_head_og, env})]
	<//B_fb_rub>
<//B_fb_art>