[<script src="(#CHEMIN{theme/js/bootstrap.min.js})"></script>]
[<script src="(#CHEMIN{theme/js/vendor/jquery.carouFredSel-6.2.1-packed.js})"></script>]
[<script src="(#CHEMIN{theme/js/global.js})"></script>]