#CACHE{0}

#SEO_META_TAGS

<BOUCLE_rem(CONDITION){si #REM}>
	<BOUCLE_article(ARTICLES){id_article}>
		<title>[(#TITRE|couper{50}) / ]#NOM_SITE_SPIP[ - (#DESCRIPTIF_SITE_SPIP|couper{150})]</title>
		[<meta name="description" content='(#TEXTE|couper{150})' />]
	</BOUCLE_article>
		<BOUCLE_rubrique(RUBRIQUES){id_rubrique}>
			<title>[(#TITRE|couper{50}) / ]#NOM_SITE_SPIP[ - (#DESCRIPTIF_SITE_SPIP|couper{150})]</title>
			[<meta name="description" content='(#TEXTE|couper{150}|sinon{#DESCRIPTIF_SITE_SPIP|couper{150}})' />]
		</BOUCLE_rubrique>
			<BOUCLE_mot(MOTS){id_mot}>
				<title>[(#TITRE|couper{50}) / ]#NOM_SITE_SPIP[ - (#DESCRIPTIF_SITE_SPIP|couper{150})]</title>
				[<meta name="description" content='(#TEXTE|couper{150})' />]
			</BOUCLE_mot>
				[<title>(#NOM_SITE_SPIP)[ - (#DESCRIPTIF_SITE_SPIP|couper{150})]</title>]
				[<meta name="description" content='(#DESCRIPTIF_SITE_SPIP|couper{150})' />]
			<//B_mot>
		<//B_rubrique>
	<//B_article>
</BOUCLE_rem>

[(#REM) 
	<meta name="Robots" content="INDEX, FOLLOW" />
]