<BOUCLE_ga(CONDITION){si #REM}>
	----- GOOGLE ANALYTICS ------

	#SET{GA_USER_ID, UI-XXXXXX-X}

	<script type="text/javascript">
		if(jQuery.cookieBar('cookies')){
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '#GET{GA_USER_ID}', 'auto');
			ga('send', 'pageview');
		}
	</script>
</BOUCLE_ga>

<BOUCLE_addthis(CONDITION){si #REM}>
		----- ADDTHIS -----

	#SET{ADDTHIS_TRACKER, false}
	#SET{ADDTHIS_PUBID, ra-XXXXXX}

	<script type="text/javascript">
		if(jQuery.cookieBar('cookies')){
			var addthis_config = {"data_track_addressbar":#GET{ADDTHIS_TRACKER}};
			document.write("<script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=#GET{ADDTHIS_PUBID}' async='async'><\/script>");
		}
	</script>
</BOUCLE_addthis>

<BOUCLE_piwik(CONDITION){si #REM}>
		----- PIWIK -----

	#SET{PIWIK_SITE_ID, X}
	#SET{DOMAINE_PIWIK, piwik.apsulis.net}

	<script type="text/javascript">
		if(jQuery.cookieBar('cookies')){
			var _paq = _paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u=(("https:" == document.location.protocol) ? "https" : "http") + "://" + "#GET{DOMAINE_PIWIK}" + "/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', #GET{PIWIK_SITE_ID}]);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
				g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		}
	</script>

</BOUCLE_piwik>
