[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]
[<link rel="shortcut icon" href="(#ENV*{favicon}
	|sinon{#CHEMIN{favicon.ico}}
	|sinon{#CHEMIN{theme/img/favicon.ico}}
	|sinon{#LOGO_SITE_SPIP}
		|image_passe_partout{32,32}
		|image_recadre{32,32,center}
		|image_format{ico}|extraire_attribut{src}
	|sinon{#CHEMIN{spip.ico}})" type="image/x-icon" />]
[<link href="(#CHEMIN{theme/img/apple-touch-icon-57x57.png})" sizes="57x57" rel="apple-touch-icon" />]
[<link href="(#CHEMIN{theme/img/apple-touch-icon-72x72.png})" sizes="72x72" rel="apple-touch-icon" />]
[<link href="(#CHEMIN{theme/img/apple-touch-icon-114x114.png})" sizes="114x114" rel="apple-touch-icon" />]
[<link href="(#CHEMIN{theme/img/apple-touch-icon-144x144.png})" sizes="144x144" rel="apple-touch-icon" />]
